Repository pytorch/tensordict, pull requests merged in 2022-12, with the labels that each got.

#95 [Versioning] v0.0.1b
  .github/workflows/wheels.yml
  version.txt
Labels: CLA Signed

#96 docs: fix esemble -> ensemble typo
  README.md
  docs/source/overview.rst
Labels: CLA Signed

#104 [Feature] Refactor probabilistic module wrapper
  tensordict/nn/prototype.py
  test/test_tensordictmodules.py
Labels: CLA Signed

#108 [BugFix] patched nn.Module deserialization
  tensordict/nn/functional_modules.py
Labels: bug, CLA Signed

#107 [Feature] Prototype of dataclass like interface for TensorDict
  docs/source/reference/index.rst
  docs/source/reference/prototype.rst
  tensordict/prototype/__init__.py
  tensordict/prototype/tensorclass.py
  tensordict/tensordict.py
  test/test_tensorclass.py
  test/test_tensorclass_nofuture.py
Labels: enhancement, CLA Signed

#112 [Feature] Allow for tensorclass construction with unnamed args
  tensordict/prototype/tensorclass.py
  test/test_tensorclass.py
  test/test_tensorclass_nofuture.py
Labels: enhancement, CLA Signed

#113 [Refactor] Refactor dispatch_kwargs for easier usage
  docs/source/reference/nn.rst
  tensordict/nn/__init__.py
  tensordict/nn/common.py
  tensordict/nn/sequence.py
  tensordict/tensordict.py
  test/test_tensordictmodules.py
Labels: CLA Signed

#114 [Feature] Add metaclass for TensorClass instances
  tensordict/prototype/tensorclass.py
  test/test_tensorclass.py
  test/test_tensorclass_nofuture.py
Labels: CLA Signed

#109 [Feature] Replace ProbablilisticTensorDictModule with prototype
  .gitignore
  tensordict/nn/__init__.py
  tensordict/nn/distributions/continuous.py
  tensordict/nn/probabilistic.py
  tensordict/nn/prototype.py
  tensordict/nn/sequence.py
  test/test_tensordictmodules.py
Labels: CLA Signed

#120 [Refactor] Speedup select method
  tensordict/tensordict.py
Labels: enhancement, CLA Signed

#123 [Typo] fist -> first
  tensordict/nn/probabilistic.py
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: CLA Signed

#122 [Feature] Tensorclass device
  tensordict/prototype/tensorclass.py
  test/test_tensorclass.py
  test/test_tensorclass_nofuture.py
Labels: CLA Signed

#124 [Feature] Tensorclass updates
  tensordict/prototype/__init__.py
  tensordict/prototype/tensorclass.py
  test/test_tensorclass.py
  test/test_tensorclass_nofuture.py
Labels: CLA Signed

#125 [BugFix] Fix items_meta, values_meta
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: CLA Signed

#121 [Refactor] Various speed improvements
  benchmarks/common_ops.py
  tensordict/metatensor.py
  tensordict/tensordict.py
  tensordict/utils.py
  test/_utils_internal.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#126 [BugFix] TorchRec test failure
  .circleci/unittest/linux_torchrec/scripts/install.sh
Labels: bug, CLA Signed

#127 [BugFix] Fix functorch vmap imports
  tensordict/nn/functional_modules.py
Labels: bug, CLA Signed

#128 [BugFix] Fix functorch imports
  tensordict/nn/functional_modules.py
  test/test_functorch.py
  test/test_tensordictmodules.py
Labels: bug, CLA Signed

#115 [Refactor] Remove the unsqueeze for tensors that match the tensordict in shape
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#129 [BugFix] Fix functorch test import
  test/test_functorch.py
Labels: CLA Signed

#130 [Refactor] torch.cat with destination td refactoring
  tensordict/tensordict.py
Labels: CLA Signed

#133 [BugFix] add skipif not _has_functorch
  test/test_functorch.py
Labels: CLA Signed

#134 [Formatting] Fix F401 lint advisory
  tensordict/nn/__init__.py
  tensordict/prototype/__init__.py
Labels: CLA Signed

#135 [Feature] Stacking tensors of different shape
  tensordict/metatensor.py
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed
