Repository pytorch/tensordict, pull requests merged in 2022-11, with the labels that each got.

#10 [BugFix] Nightly build
  .github/workflows/nightly_build.yml
Labels: CLA Signed

#9 [Feature] Doc
  README.md
  docs/Makefile
  docs/build_script.sh
  docs/make.bat
  docs/requirements.txt
  docs/source/_static/css/custom_torchrl.css
  docs/source/_static/img/pytorch-logo-dark.png
  docs/source/_static/img/pytorch-logo-dark.svg
  docs/source/_static/img/pytorch-logo-flame.png
  docs/source/_static/img/pytorch-logo-flame.svg
  docs/source/_templates/class.rst
  docs/source/_templates/function.rst
  docs/source/_templates/layout.html
  docs/source/_templates/td_template.rst
  docs/source/_templates/td_template_noinherit.rst
  docs/source/conf.py
  docs/source/docutils.conf
  docs/source/index.rst
  docs/source/reference/generated/tensordict.LazyStackedTensorDict.rst
  docs/source/reference/generated/tensordict.SubTensorDict.rst
  docs/source/reference/generated/tensordict.TensorDict.rst
  docs/source/reference/generated/tensordict.nn.ProbabilisticTensorDictModule.rst
  docs/source/reference/generated/tensordict.nn.TensorDictModule.rst
  docs/source/reference/generated/tensordict.nn.TensorDictModuleWrapper.rst
  docs/source/reference/generated/tensordict.nn.TensorDictSequential.rst
  docs/source/reference/generated/tensordict.utils.expand_as_right.rst
  docs/source/reference/generated/tensordict.utils.expand_right.rst
  docs/source/reference/index.rst
  docs/source/reference/nn.rst
  docs/source/reference/tensordict.rst
  gallery/README.rst
Labels: CLA Signed

#5 [Feature] TensorDict support for first class dimensions
  .gitignore
  README.md
  tensordict/memmap.py
  tensordict/metatensor.py
  tensordict/tensordict.py
  tensordict/utils.py
  test/_utils_internal.py
  test/test_dim.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#13 [Bug] Fix nightly build action
  .github/workflows/nightly_build.yml
  setup.py
Labels: CLA Signed

#15 [BugFix] Merge partial sub-tensordicts with flatten ones if unflattened
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: CLA Signed

#23 [Sync] Sync with torchrl
  tensordict/memmap.py
  tensordict/tensordict.py
  tensordict/utils.py
  test/test_memmap.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#20 [Feature] Add TensorDictKeysView
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: CLA Signed

#19 [Feature] Support splitting / flattening with first-class dims
  tensordict/metatensor.py
  tensordict/tensordict.py
  tensordict/utils.py
  test/test_dim.py
Labels: enhancement, CLA Signed

#16 [Feature] Create a `TensorDict.set_default` method
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#12 [Doc] Minor edits of README
  README.md
Labels: documentation, CLA Signed

#30 [BugFix] Representation of nested tensordicts
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#32 Roll back support for first-class dimensions
  README.md
  tensordict/memmap.py
  tensordict/metatensor.py
  tensordict/tensordict.py
  tensordict/utils.py
  test/test_dim.py
Labels: CLA Signed

#24 [Feature] Support nested keys in get, set and .keys()
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#35 [Bugfix] Restore fallback for is_batchedtensor
  tensordict/tensordict.py
Labels: CLA Signed

#36 [Feature] Make custom ops tensordict classes private
  tensordict/tensordict.py
Labels: enhancement, CLA Signed

#37 [BugFix, CI] Fix py38 tag for python 3.8 wheels
  .github/workflows/wheels.yml
Labels: bug, CLA Signed

#38 [Versioning] TensorDict v0.0.1a
  .github/workflows/wheels.yml
Labels: CLA Signed

#40 [BugFix] tensordict.set(nested_key, value) points to the wrong metadata dict
  tensordict/tensordict.py
Labels: CLA Signed

#42 [Feature] nested LazyStack indexing
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#39 [Feature] Support nested keys in select method
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#41 [Feature] Support nested keys in exclude method
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#44 [Feature] non-strict select
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: CLA Signed

#46 [BugFix] Accept nested dicts for update
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#48 [Feature] TensorDictModule nested keys
  tensordict/nn/common.py
  tensordict/tensordict.py
  tensordict/utils.py
  test/test_tensordictmodules.py
Labels: enhancement, CLA Signed

#50 [WIP, BugFix] Fix exclude
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: CLA Signed

#45 [Feature] Nested keys support for set_default
  tensordict/nn/common.py
  tensordict/tensordict.py
  tensordict/utils.py
  test/test_tensordict.py
  test/test_tensordictmodules.py
Labels: enhancement, CLA Signed

#49 [Feature] TensorDictSequential nested keys
  tensordict/nn/common.py
  tensordict/nn/sequence.py
  tensordict/utils.py
  test/test_tensordict.py
  test/test_tensordictmodules.py
Labels: enhancement, CLA Signed

#53 [BugFix] Typo in README
  README.md
Labels: documentation, CLA Signed

#54 [Feature] Faster construction
  tensordict/tensordict.py
Labels: enhancement, CLA Signed

#51 [BugFix] Nested tensordict collision
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#55 [WIP] Fix tests for functional refactor
  tensordict/nn/common.py
  tensordict/nn/functional_modules.py
  tensordict/nn/probabilistic.py
  test/test_tensordictmodules.py
Labels: bug, CLA Signed

#57 [BugFix] Fix memmap creation for nested TDs
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#58 [BugFix] Fix locking mechanism
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: CLA Signed

#59 [Test] test that cloned locked TDs aren't locked
  test/test_tensordict.py
Labels: CLA Signed

#62 [Feature] In-place functionalisation docstrings + cleanup
  tensordict/nn/common.py
  tensordict/nn/probabilistic.py
  tensordict/nn/sequence.py
Labels: CLA Signed

#61 [Bugfix] Fix docs build workflow
  .github/workflows/docs.yml
Labels: CLA Signed

#63 [BugFix] Exclude potentially top-level packages from setup.py
  setup.py
Labels: bug, CLA Signed

#64 [Doc] Doc Badge
  README.md
  docs/source/index.rst
Labels: documentation, CLA Signed

#65 [BugFix] Default version to None if not found
  tensordict/__init__.py
Labels: CLA Signed

#66 [NOMERGE] Migrate TorchRL to tensordict.nn.TensorDictModule
  tensordict/nn/probabilistic.py
  tensordict/nn/sequence.py
  test/test_tensordictmodules.py
Labels: CLA Signed

#60 [Feature] TorchRec support: indexing keyedjaggedtensors
  .circleci/config.yml
  .circleci/unittest/linux_torchrec/scripts/environment.yml
  .circleci/unittest/linux_torchrec/scripts/install.sh
  .circleci/unittest/linux_torchrec/scripts/post_process.sh
  .circleci/unittest/linux_torchrec/scripts/run-clang-format.py
  .circleci/unittest/linux_torchrec/scripts/run_test.sh
  .circleci/unittest/linux_torchrec/scripts/setup_env.sh
  tensordict/metatensor.py
  tensordict/tensordict.py
  tensordict/utils.py
  test/test_torchrec.py
Labels: enhancement, CLA Signed

#68 [BugFix] Optional functorch dependency
  tensordict/nn/common.py
  test/test_functorch.py
  test/test_tensordictmodules.py
Labels: bug, CLA Signed

#56 [Feature] `TensorDict.split` method
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#70 Merge main into functional_refactor
  .circleci/config.yml
  .circleci/unittest/linux_torchrec/scripts/environment.yml
  .circleci/unittest/linux_torchrec/scripts/install.sh
  .circleci/unittest/linux_torchrec/scripts/post_process.sh
  .circleci/unittest/linux_torchrec/scripts/run-clang-format.py
  .circleci/unittest/linux_torchrec/scripts/run_test.sh
  .circleci/unittest/linux_torchrec/scripts/setup_env.sh
  .github/workflows/docs.yml
  README.md
  docs/source/index.rst
  setup.py
  tensordict/__init__.py
  tensordict/memmap.py
  tensordict/metatensor.py
  tensordict/nn/common.py
  tensordict/nn/distributions/continuous.py
  tensordict/nn/distributions/discrete.py
  tensordict/nn/functional_modules.py
  tensordict/nn/probabilistic.py
  tensordict/nn/sequence.py
  tensordict/tensordict.py
  tensordict/utils.py
  test/_utils_internal.py
  test/test_functorch.py
  test/test_tensordict.py
  test/test_tensordictmodules.py
  test/test_torchrec.py
Labels: CLA Signed

#71 [Doc, Test] Some more formatting for FBCode
  .circleci/unittest/linux/scripts/install.sh
  .circleci/unittest/linux/scripts/setup_env.sh
  .circleci/unittest/linux_stable/scripts/install.sh
  .circleci/unittest/linux_torchrec/scripts/install.sh
  .circleci/unittest/linux_torchrec/scripts/setup_env.sh
  .pre-commit-config.yaml
  setup.cfg
  tensordict/memmap.py
  tensordict/nn/functional_modules.py
  tensordict/tensordict.py
  test/test_memmap.py
  test/test_tensordict.py
  test/test_torchrec.py
Labels: CLA Signed

#72 [Formatting] Final FBCode formatting
  .pre-commit-config.yaml
  pyproject.toml
  tensordict/metatensor.py
  tensordict/nn/common.py
  tensordict/nn/distributions/continuous.py
  tensordict/nn/distributions/truncated_normal.py
  tensordict/nn/functional_modules.py
  tensordict/nn/probabilistic.py
  tensordict/nn/sequence.py
  tensordict/tensordict.py
  tensordict/utils.py
  test/test_tensordict.py
Labels: CLA Signed

#69 [Doc] Some more badges
  README.md
  setup.py
Labels: CLA Signed

#73 [Formatting] ignore formatting commits
  .git-blame-ignore-revs
Labels: CLA Signed

#74 [BugFix] Mutable default arguments
  tensordict/nn/functional_modules.py
Labels: bug, CLA Signed

#75 [Formatting] Minor formatting improvements
  .pre-commit-config.yaml
  docs/source/conf.py
  setup.cfg
  tensordict/metatensor.py
  tensordict/nn/distributions/continuous.py
  tensordict/nn/probabilistic.py
  tensordict/nn/sequence.py
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: CLA Signed, Formatting

#76 [BugFix] functorch fixes for old-deps
  tensordict/nn/common.py
  tensordict/nn/sequence.py
Labels: CLA Signed

#78 [Formatting] Fix expand
  tensordict/tensordict.py
Labels: CLA Signed

#79 Revert "[Formatting] Fix expand"
  tensordict/tensordict.py
Labels: CLA Signed

#80 [Formatting] Fix expand
  tensordict/tensordict.py
Labels: bug, CLA Signed

#81 [BugFix] TensorDictSequential inheritance fix
  tensordict/nn/sequence.py
Labels: bug, CLA Signed

#82 [BugFix] TensorDictSequential inheritance fix
  tensordict/nn/sequence.py
Labels: bug, CLA Signed

#11 [Feature] In-place functionalization
  README.md
  tensordict/metatensor.py
  tensordict/nn/__init__.py
  tensordict/nn/common.py
  tensordict/nn/functional_modules.py
  tensordict/nn/probabilistic.py
  tensordict/nn/sequence.py
  tensordict/tensordict.py
  test/_utils_internal.py
  test/test_functorch.py
  test/test_tensordictmodules.py
Labels: enhancement, CLA Signed

#83 [BugFix] Ensure that all modules are visited during module population
  tensordict/nn/functional_modules.py
Labels: CLA Signed

#84 [Feature] Add leaves_only kwarg to keys / values / items methods
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: CLA Signed

#90 [Feature] Benchmarks
  benchmarks/pytree_benchmarks.py
  tensordict/tensordict.py
Labels: CLA Signed

#85 [Feature] Lazystack insert / append
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: CLA Signed

#91 Revert "[Feature] Benchmarks"
  benchmarks/pytree_benchmarks.py
  tensordict/tensordict.py
Labels: CLA Signed

#93 [Docs] Add TensorDict overview to docs
  docs/source/index.rst
  docs/source/overview.rst
Labels: CLA Signed

#92 [Feature] Benchmarks
  benchmarks/functional_benchmarks.py
  benchmarks/pytree_benchmarks.py
  tensordict/nn/functional_modules.py
  tensordict/tensordict.py
Labels: CLA Signed
