Repository pytorch/tensordict, pull requests merged in 2023-02, with the labels that each got.

#200 Loop check and iter check for TensorDictKeysView
  tensordict/__init__.py
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: CLA Signed

#202 Test masked fill and test locks adapted to autonesting
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: CLA Signed

#157 [Feature] Added support to save non-tensor data in tensor class
  docs/source/reference/prototype.rst
  tensordict/prototype/tensorclass.py
  test/test_tensorclass_nofuture.py
Labels: enhancement, CLA Signed

#203 [BugFix] tensorclass `__setitem__` must allow non-type stringent writing
  tensordict/prototype/tensorclass.py
Labels: CLA Signed

#204 [Test, Bugfix] skip test_outputsize_vmap if no functorch
  test/test_functorch.py
Labels: CLA Signed

#207 [BugFix][Auto-nested] Fix `to_dict` method
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: CLA Signed

#209 Disabled tests for autonested case for flatten keys, select and memmap
  test/test_tensordict.py
Labels: CLA Signed

#208 [CI] Temporarily disable torchrec tests
  .circleci/config.yml
Labels: CLA Signed

#206 [Test] MemmapTensor should be cast to tensor and viceversa
  test/test_memmap.py
Labels: CLA Signed

#211 [BugFix] Fix `_getitem_batch_size` in various edge cases.
  tensordict/utils.py
  test/test_utils.py
Labels: CLA Signed

#210 [BugFix] `__eq__` refactoring
  tensordict/prototype/tensorclass.py
  tensordict/tensordict.py
  test/test_tensorclass_nofuture.py
  test/test_tensordict.py
Labels: bug, enhancement, CLA Signed

#212 [Test] use temp_path instead of tmpdir
  test/conftest.py
  test/test_memmap.py
  test/test_tensorclass_nofuture.py
  test/test_tensordict.py
Labels: CLA Signed, Test

#213 [Feature] Implement torch.gather for TensorDict and tensorclass
  tensordict/prototype/tensorclass.py
  tensordict/tensordict.py
  test/test_tensorclass_nofuture.py
  test/test_tensordict.py
Labels: CLA Signed

#205 [Test, BugFix] add regression test for PR #203
  test/test_tensorclass_nofuture.py
Labels: bug, CLA Signed, Test

#215 [Versioning] Version 0.0.2b
  .github/workflows/wheels.yml
  version.txt
Labels: CLA Signed, versioning

#214 Solving tests
  test/test_tensordict.py
Labels: CLA Signed

#219 Test suit adapted to changes in code base for autonested Tensordicts
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: CLA Signed

#218 [BugFix] Calling zeros with an empty batch size
  tensordict/tensordict.py
Labels: bug, CLA Signed

#220 Add recursion guard and tidy tests
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: CLA Signed

#162 [Draft][Feature] Simple symbolic tracer for TensorDictModule and TensorDictSequential
  benchmarks/fx_benchmarks.py
  docs/source/_static/img/graph.svg
  docs/source/fx.rst
  docs/source/index.rst
  tensordict/prototype/__init__.py
  tensordict/prototype/fx.py
  test/test_fx.py
Labels: enhancement, CLA Signed

#222 [Docs, Tutorials] Cleanup ported tutorials
  .gitignore
  tutorials/media/imagenet-benchmark-speed.png
  tutorials/media/imagenet-benchmark-time.png
  tutorials/media/transformer.png
  tutorials/sphinx_tuto/tensorclass_imagenet.py
  tutorials/sphinx_tuto/tensordict_basics.py
  tutorials/sphinx_tuto/tensordict_module.py
Labels: CLA Signed

#224 [Feature] set_item works with compatible tensorclass
  tensordict/prototype/tensorclass.py
  test/test_tensorclass_nofuture.py
Labels: enhancement, CLA Signed

#225 [CI] increase timeout for tests
  .circleci/config.yml
Labels: CLA Signed

#229 Revert "[CI] increase timeout for tests"
  .circleci/config.yml
Labels: CLA Signed

#228 [BugFix] Fix infinite loop in memmap tests
  test/test_memmap.py
Labels: bug, CLA Signed, CI, Test

#230 [Feature] Distributed capabilities
  tensordict/memmap.py
  tensordict/tensordict.py
  tensordict/utils.py
  test/test_distributed.py
  test/test_fx.py
Labels: enhancement, CLA Signed

#231 [Docs] Add simplified reshape tutorial
  docs/source/index.rst
  tutorials/sphinx_tuto/tensordict_shapes.py
Labels: documentation, CLA Signed

#234 [BugFix] Fix sorting of keys in send and recv
  tensordict/tensordict.py
  test/test_distributed.py
  test/test_tensordict.py
Labels: CLA Signed

#235 [Refactor] Rename set_default -> setdefault
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: CLA Signed

#233 [Docs] Add keys tutorial
  docs/source/index.rst
  tutorials/sphinx_tuto/tensordict_keys.py
Labels: documentation, CLA Signed

#232 [Docs] Preallocation tutorial
  docs/source/index.rst
  tutorials/sphinx_tuto/tensorclass_imagenet.py
  tutorials/sphinx_tuto/tensordict_preallocation.py
  tutorials/sphinx_tuto/tensordict_shapes.py
Labels: documentation, enhancement, CLA Signed

#237 [Docs, Tutorials] Split functional content from module tutorial
  docs/source/index.rst
  tutorials/sphinx_tuto/tensordict_module.py
  tutorials/sphinx_tuto/tensordict_module_functional.py
Labels: CLA Signed

#238 [Feature] Full type annotations
  benchmarks/common/common_ops_test.py
  benchmarks/common/pytree_benchmarks_test.py
  benchmarks/distributed/dataloading.py
  benchmarks/distributed/distributed_benchmark_test.py
  benchmarks/fx_benchmarks.py
  benchmarks/nn/functional_benchmarks_test.py
  docs/source/conf.py
  pyproject.toml
  setup.py
  tensordict/__init__.py
  tensordict/memmap.py
  tensordict/nn/__init__.py
  tensordict/nn/common.py
  tensordict/nn/distributions/__init__.py
  tensordict/nn/distributions/continuous.py
  tensordict/nn/distributions/discrete.py
  tensordict/nn/distributions/truncated_normal.py
  tensordict/nn/distributions/utils.py
  tensordict/nn/functional_modules.py
  tensordict/nn/probabilistic.py
  tensordict/nn/sequence.py
  tensordict/nn/utils.py
  tensordict/prototype/__init__.py
  tensordict/prototype/fx.py
  tensordict/prototype/tensorclass.py
  tensordict/tensordict.py
  tensordict/utils.py
  test/_utils_internal.py
  test/test_functorch.py
  test/test_fx.py
  test/test_memmap.py
  test/test_tensorclass_nofuture.py
  test/test_tensordict.py
  test/test_tensordictmodules.py
  test/test_torchrec.py
  test/test_utils.py
  tutorials/sphinx_tuto/data_fashion.py
  tutorials/sphinx_tuto/tensorclass_fashion.py
  tutorials/sphinx_tuto/tensorclass_imagenet.py
Labels: CLA Signed

#239 [BugFix] Allow for nested output keys in Probabilitic modules
  tensordict/nn/probabilistic.py
  tensordict/tensordict.py
  test/test_tensordict.py
  test/test_tensordictmodules.py
Labels: bug, CLA Signed

#241 [Docs, Tutorials] Memory management tutorial
  docs/source/index.rst
  img.png
  tutorials/sphinx_tuto/tensordict_memory.py
Labels: CLA Signed

#243 [Docs, Tutorials] Add indexing tutorial
  docs/source/index.rst
  tutorials/sphinx_tuto/tensordict_slicing.py
Labels: CLA Signed

#244 [Docs, Tutorials] Move remaining content out of basic tutorial and remove
  tutorials/sphinx_tuto/tensordict_basics.py
  tutorials/sphinx_tuto/tensordict_keys.py
  tutorials/sphinx_tuto/tensordict_shapes.py
Labels: CLA Signed

#221 [Doc] Port torchrl's tutorials where they belong
  .gitignore
  docs/source/index.rst
  tutorials/media/imagenet-benchmark-speed.png
  tutorials/media/imagenet-benchmark-time.png
  tutorials/media/transformer.png
  tutorials/sphinx_tuto/tensorclass_imagenet.py
  tutorials/sphinx_tuto/tensordict_keys.py
  tutorials/sphinx_tuto/tensordict_memory.py
  tutorials/sphinx_tuto/tensordict_module.py
  tutorials/sphinx_tuto/tensordict_module_functional.py
  tutorials/sphinx_tuto/tensordict_preallocation.py
  tutorials/sphinx_tuto/tensordict_shapes.py
  tutorials/sphinx_tuto/tensordict_slicing.py
Labels: documentation, CLA Signed

#245 [BugFix] Remove torchrl dependency from tutorials
  tutorials/sphinx_tuto/tensordict_module.py
Labels: CLA Signed

#242 [BugFix] Return self from `clear_device`
  tensordict/tensordict.py
Labels: enhancement, CLA Signed

#247 [Feature] Nesting tensorclass instances in tensordicts
  tensordict/prototype/tensorclass.py
  tensordict/tensordict.py
  test/_utils_internal.py
  test/test_tensorclass_nofuture.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#249 [Feature] Nesting tensorclass instances in tensordicts
  tensordict/prototype/tensorclass.py
  tensordict/tensordict.py
  test/_utils_internal.py
  test/test_tensorclass_nofuture.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed
