Repository pytorch/tensordict, pull requests merged in 2023-04, with the labels that each got.

#318 [Refactor] td.set and sampling efficiency
  tensordict/nn/probabilistic.py
  tensordict/tensordict.py
Labels: CLA Signed

#319 [CI] RL pipeline
  .circleci/config.yml
  .circleci/unittest/rl_linux_optdeps/scripts/environment.yml
  .circleci/unittest/rl_linux_optdeps/scripts/install.sh
  .circleci/unittest/rl_linux_optdeps/scripts/post_process.sh
  .circleci/unittest/rl_linux_optdeps/scripts/run-clang-format.py
  .circleci/unittest/rl_linux_optdeps/scripts/run_test.sh
  .circleci/unittest/rl_linux_optdeps/scripts/setup_env.sh
Labels: CLA Signed

#320 [BugFix] Fix sub-tensordict indexing and updating
  tensordict/tensordict.py
  tensordict/utils.py
  test/test_tensordict.py
Labels: CLA Signed

#323 [Benchmark] More item benchmarks
  benchmarks/common/common_ops_test.py
Labels: CLA Signed, Benchmarks

#321 [Refactor] Use slots for faster creation
  tensordict/tensordict.py
Labels: CLA Signed, Refactor

#325 [CI] Continuous benchmark trigger
  .github/workflows/benchmarks.yml
Labels: CLA Signed, CI

#326 [CI] Continuous benchmark trigger (2)
  .github/workflows/benchmarks.yml
Labels: CLA Signed

#322 [Refactor] No check on batch-size when _run_checks=False
  benchmarks/common/pytree_benchmarks_test.py
  tensordict/nn/functional_modules.py
  tensordict/tensorclass.py
  tensordict/tensordict.py
Labels: enhancement, CLA Signed

#330 [BugFix,CI] Codecov SHA error
  .circleci/config.yml
Labels: CLA Signed, CI

#329 [Doc] Updated Docs with conda installation instruction
  README.md
Labels: CLA Signed

#331 [Refactor] Compatibility with np.bool_
  tensordict/tensordict.py
Labels: CLA Signed, Refactor

#332 Deprecate interaction_mode with interaction_type
  docs/source/reference/nn.rst
  tensordict/nn/__init__.py
  tensordict/nn/probabilistic.py
  test/test_nn.py
  tutorials/sphinx_tuto/tensordict_module.py
Labels: CLA Signed

#335 [Feature] Recursive key selection for sequences
  tensordict/nn/sequence.py
  test/test_nn.py
Labels: enhancement, CLA Signed

#336 [BugFix] nested tds in persistent tds may have the wrong batch-size
  tensordict/persistent.py
  test/test_tensordict.py
Labels: CLA Signed

#337 [Refactor] TensorDictModuleBase
  docs/source/reference/nn.rst
  tensordict/nn/__init__.py
  tensordict/nn/common.py
Labels: enhancement, CLA Signed, Refactor

#338 [Minor] Doc and vmap fixes
  tensordict/nn/common.py
  tensordict/nn/functional_modules.py
  tensordict/nn/sequence.py
  tensordict/utils.py
  test/test_nn.py
Labels: CLA Signed

#339 [Feature] Close for h5 tds
  tensordict/nn/probabilistic.py
  tensordict/persistent.py
Labels: CLA Signed

#343 [Benchmark] TDModule benchmarks
  benchmarks/nn/functional_benchmarks_test.py
Labels: CLA Signed, Benchmarks

#340 [BugFix] Key checks in TensorDictSequential
  tensordict/nn/sequence.py
Labels: bug, CLA Signed

#342 [Feature] set_skip_existing and related
  docs/source/reference/nn.rst
  tensordict/nn/__init__.py
  tensordict/nn/common.py
  tensordict/nn/probabilistic.py
  tensordict/nn/sequence.py
  tensordict/nn/utils.py
  test/test_nn.py
Labels: enhancement, CLA Signed

#344 [Refactor] copy _contextlib
  tensordict/_contextlib.py
  tensordict/nn/probabilistic.py
  tensordict/nn/utils.py
Labels: CLA Signed, Refactor

#345 [BugFix] Add dispatch decorator to probabilistic modules
  tensordict/nn/probabilistic.py
Labels: bug, CLA Signed

#346 [BugFix] Add sample_log_prob to out_keys when return_log_prob=True
  tensordict/nn/probabilistic.py
Labels: CLA Signed

#347 [BugFix] Fix missing "sample_log_prob" when no sample is needed
  tensordict/nn/probabilistic.py
Labels: CLA Signed

#348 [Doc] Fix doc workflow
  .github/workflows/docs.yml
  docs/source/index.rst
  tutorials/sphinx_tuto/tensorclass_fashion.py
Labels: documentation, CLA Signed, CI

#350 [Feature] select_out_keys
  tensordict/nn/common.py
  test/test_nn.py
Labels: enhancement, CLA Signed

#353 [BugFix] Fix ModuleBase `__new__` attribute and property creation
  tensordict/nn/common.py
  test/test_nn.py
Labels: CLA Signed

#354 [Feature] tensordict.flatten
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#357 [BugFix] Fix none indexing
  tensordict/tensordict.py
  tensordict/utils.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#359 [BugFix] Fixing set_at_ with names
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#360 [BugFix] Changing tensordict batch size with names
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: CLA Signed

#362 [BugFix] Fix nested names, to(device) names and other bugs
  tensordict/persistent.py
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#308 [Refactor] Upgrade vmap imports
  README.md
  docs/source/overview.rst
  docs/source/reference/nn.rst
  tensordict/nn/common.py
  tensordict/nn/probabilistic.py
  tensordict/persistent.py
  test/test_functorch.py
  test/test_nn.py
Labels: CLA Signed, Refactor

#363 [Feature] as_tensor
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: CLA Signed

#364 [BugFix] Fix contiguous names
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: bug, CLA Signed
