Repository pytorch/tensordict, pull requests merged in 2023-08, with the labels that each got.

#506 [Feature] `dense_stack_tds`
  docs/source/reference/tensordict.rst
  tensordict/__init__.py
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: CLA Signed

#507 [Feature] torch.where
  tensordict/nn/params.py
  tensordict/persistent.py
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#508 [BugFix] Fix EnsembleModule parameters exposure
  tensordict/nn/ensemble.py
  tensordict/tensordict.py
  test/test_nn.py
Labels: bug, CLA Signed, Refactor

#509 [BugFix] Fix params.clone
  tensordict/nn/params.py
  test/test_nn.py
Labels: bug, CLA Signed

#512 [BugFix] Retrieve all keys for `LazyStackedTensorDict`
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: CLA Signed

#516 [CI] Python 3.11 compatibility
  .github/workflows/nightly_build.yml
  .github/workflows/wheels.yml
Labels: CLA Signed, CI

#515 [Feature] Module to add state independent normal scale
  tensordict/nn/distributions/continuous.py
  test/test_nn.py
Labels: CLA Signed
