Repository pytorch/tensordict, pull requests merged in 2023-03, with the labels that each got.

#251 [BugFix] Uncaught wrong instance check in update_at_
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#252 [BugFix,Feature] Rename with nested keys
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: bug, enhancement, CLA Signed

#254 [Docs] Remove unneeded __len__ definition in tutorial
  tutorials/sphinx_tuto/tensorclass_fashion.py
Labels: CLA Signed

#246 [BugFix] Memmap-like for lazy stacked tds
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#250 [Refactor] Reduce boilerplate in tensorclass methods
  tensordict/prototype/tensorclass.py
  tensordict/tensordict.py
Labels: enhancement, CLA Signed

#255 [Tests] Add tensorclass benchmarks
  benchmarks/tensorclass/torch_functions.py
Labels: CLA Signed

#256 [Feature] Add dispatch source and dest arguments
  tensordict/nn/__init__.py
  tensordict/nn/common.py
  tensordict/nn/sequence.py
  test/test_nn.py
Labels: enhancement, CLA Signed, Refactor

#257 [Doc, BugFix] pin-memory call on cpu only scripts
  tutorials/sphinx_tuto/tensorclass_imagenet.py
Labels: bug, documentation, CLA Signed

#258 [BugFix] Select misses nested keys if missing nested are present
  benchmarks/common/common_ops_test.py
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: CLA Signed

#259 [Refactor] Refactor set methods
  tensordict/prototype/fx.py
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: CLA Signed

#263 [DOC] add clarification comment
  tensordict/tensordict.py
Labels: CLA Signed

#262 [Doc] Remove no_check mentions in docstrings
  tensordict/tensordict.py
Labels: documentation, CLA Signed

#265 [DOC] update docstring for set method
  tensordict/tensordict.py
Labels: CLA Signed

#264 [CI, Test] Retry flaky test
  .circleci/unittest/linux/scripts/environment.yml
  .circleci/unittest/linux_stable/scripts/environment.yml
  .circleci/unittest/linux_torchrec/scripts/environment.yml
  test/test_distributed.py
  test/test_memmap.py
Labels: bug, CLA Signed, CI, Test

#266 [Refactor] Inplace methods
  tensordict/tensordict.py
  test/test_tensordict.py
  tutorials/sphinx_tuto/tensordict_keys.py
Labels: CLA Signed, Refactor

#261 [Quality] More informative error message when an argument is None in TensorDictModule
  tensordict/nn/common.py
  tensordict/tensordict.py
  test/test_nn.py
  test/test_tensordict.py
Labels: documentation, CLA Signed

#267 [BugFix] Default value for lazy stack
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#268 [Build] missing torchsnapshot dependency
  setup.py
  test/test_tensorclass_nofuture.py
  test/test_tensordict.py
Labels: CLA Signed

#269 [Test] increase get timeout
  test/test_distributed.py
Labels: CLA Signed, Test

#270 [Refactor] Speedup construction
  tensordict/tensordict.py
Labels: CLA Signed, Refactor

#275 [BugFix] Recursively clear device
  tensordict/tensordict.py
Labels: CLA Signed

#226 [Feature] enable broadcast on set_item
  tensordict/prototype/tensorclass.py
  tensordict/tensordict.py
  test/test_tensorclass_nofuture.py
Labels: CLA Signed

#277 [BugFix] `__getitems__` for tensorclass
  tensordict/prototype/tensorclass.py
Labels: CLA Signed

#279 [Refactor] Cherry-pick changes from v0.1.0 before release
  .pre-commit-config.yaml
  CONTRIBUTING.md
  docs/source/reference/nn.rst
  docs/source/reference/tensordict.rst
  mypy.ini
  tensordict/__init__.py
  tensordict/nn/common.py
  tensordict/nn/functional_modules.py
  tensordict/nn/probabilistic.py
  tensordict/prototype/fx.py
  tensordict/prototype/tensorclass.py
  tensordict/tensordict.py
  tensordict/utils.py
  test/test_tensordict.py
Labels: CLA Signed

#281 [CI] Added workflow to let contributors self-assign issues
  .github/workflows/selfassign.yml
Labels: CLA Signed

#283 [BugFix] Fix reshape with non-expanded sizes
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#284 [BugFix] Fix reshape with empty shape
  tensordict/tensordict.py
Labels: CLA Signed

#285 [BugFix] Improve utils (pad_sequence and make_tensordict)
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: bug, enhancement, CLA Signed

#286 [BugFix] make_tensordict batch-size with tuple keys
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#288 [BugFix] Fix memmap ownership to make it process-wise and allow for indexed memmap persistance
  tensordict/memmap.py
  test/test_memmap.py
Labels: CLA Signed

#236 [Refactor] Deprecate set_default
  tensordict/tensordict.py
Labels: CLA Signed, Refactor

#287 [BugFix] Fix get_functional and functional call with stateful envs
  docs/source/reference/nn.rst
  tensordict/nn/functional_modules.py
  test/test_functorch.py
Labels: bug, CLA Signed

#274 [BugFix] Fix irecv for lazy tensordicts
  tensordict/tensordict.py
  test/test_distributed.py
Labels: bug, CLA Signed

#289 [Feature] h5 compatibility
  .circleci/unittest/linux/scripts/environment.yml
  .circleci/unittest/linux_stable/scripts/environment.yml
  .circleci/unittest/linux_torchrec/scripts/environment.yml
  docs/source/reference/tensordict.rst
  setup.py
  tensordict/__init__.py
  tensordict/memmap.py
  tensordict/persistent.py
  tensordict/tensordict.py
  tensordict/utils.py
  test/_utils_internal.py
  test/test_distributed.py
  test/test_fx.py
  test/test_h5.py
  test/test_memmap.py
  test/test_tensorclass_nofuture.py
  test/test_tensordict.py
  test/test_utils.py
Labels: enhancement, CLA Signed

#294 [Test, Refactor, Doc] add explicit test on set + remove hardcoded values
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: CLA Signed

#293 [BugFix] add set/get and set_at,get_at methods to tensorclass
  tensordict/prototype/tensorclass.py
  test/test_tensorclass_nofuture.py
Labels: CLA Signed

#304 [BugFix] Fix function signature
  tensordict/nn/functional_modules.py
Labels: CLA Signed

#303 [Refactor] Faster functional module
  tensordict/nn/functional_modules.py
  tensordict/tensordict.py
  test/test_nn.py
Labels: CLA Signed

#290 [Feature] forward getattr to wrapped module
  tensordict/nn/common.py
  test/test_nn.py
Labels: enhancement, CLA Signed

#291 [Feature] support tensorclasses in __call__
  tensordict/nn/common.py
  test/test_nn.py
Labels: enhancement, CLA Signed

#302 [Test] consolidate test_tensorclass and test_tensorclass_nofuture
  test/conftest.py
  test/test_tensorclass.py
Labels: CLA Signed

#305 [Test, Validation] Validate input model and add tests on input checks
  tensordict/nn/common.py
  tensordict/nn/probabilistic.py
  tensordict/tensordict.py
  tensordict/utils.py
  test/test_nn.py
Labels: CLA Signed, Test

#301 [Refactor] avoid adding _TENSORCLASS flag
  tensordict/prototype/tensorclass.py
Labels: CLA Signed

#309 [BugFix] Fix slow functional calls
  tensordict/nn/functional_modules.py
  tensordict/nn/probabilistic.py
Labels: bug, CLA Signed

#311 [BugFix] Fix sub-stack of td modules
  .idea/webServers.xml
  tensordict/nn/functional_modules.py
  tensordict/nn/probabilistic.py
Labels: CLA Signed

#307 [Feature] Promote tensorclass
  tensordict/__init__.py
  tensordict/nn/common.py
  tensordict/prototype/__init__.py
  tensordict/prototype/tensorclass.py
  tensordict/tensorclass.py
  tensordict/tensordict.py
  test/_utils_internal.py
  test/test_nn.py
  test/test_tensorclass.py
  test/test_tensordict.py
Labels: CLA Signed

#315 [BugFix] dispatch with empty batch-size
  tensordict/nn/common.py
  test/test_nn.py
Labels: bug, CLA Signed

#316 [BugFix] Fix `__setitem__` with broadcasting of tensordicts
  tensordict/persistent.py
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: bug, CLA Signed
