Repository pytorch/tensordict, pull requests merged in 2023-07, with the labels that each got.

#470 [Benchmark] Benchmark unbind
  benchmarks/common/common_ops_test.py
Labels: CLA Signed, Benchmarks

#471 [BugFix] Fix unbind
  tensordict/tensorclass.py
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#472 [BugFix] Unflatten names
  tensordict/tensordict.py
Labels: bug, CLA Signed

#474 [Feature] unravel_key_list
  tensordict/__init__.py
  tensordict/csrc/pybind.cpp
  tensordict/csrc/utils.h
  tensordict/nn/common.py
  tensordict/utils.py
  test/test_utils.py
Labels: enhancement, CLA Signed

#475 [BugFix] stateless lstms
  tensordict/nn/functional_modules.py
  test/test_functorch.py
Labels: bug, CLA Signed

#476 [Feature] Add reset_parameters support to TensorDictModuleBase
  tensordict/nn/common.py
  test/test_nn.py
Labels: enhancement, CLA Signed

#477 [Benchmark] More benchmarks for get
  benchmarks/common/common_ops_test.py
Labels: CLA Signed, Benchmarks

#473 [Refactor] unravel_key fixes
  .circleci/unittest/rl_linux_optdeps/scripts/install.sh
  tensordict/csrc/pybind.cpp
  tensordict/csrc/utils.h
  tensordict/nn/common.py
  tensordict/nn/probabilistic.py
  tensordict/nn/sequence.py
  tensordict/persistent.py
  tensordict/tensorclass.py
  tensordict/tensordict.py
  tensordict/utils.py
  test/test_nn.py
  test/test_tensordict.py
  test/test_utils.py
Labels: CLA Signed, Refactor, BC-breaking

#479 [BugFix] Nested keys to probabilistic modules
  .circleci/unittest/rl_linux_optdeps/scripts/install.sh
  .gitignore
  .idea/webServers.xml
  tensordict/nn/probabilistic.py
  test/test_nn.py
Labels: bug, CLA Signed

#478 Functional reset_parameters
  tensordict/nn/common.py
  test/test_nn.py
Labels: enhancement, CLA Signed

#483 Removing myself from notified users in benchmarks
  .github/workflows/benchmarks.yml
Labels: CLA Signed

#485 [Feature] Add EnsembleModule
  docs/source/reference/nn.rst
  tensordict/nn/__init__.py
  tensordict/nn/ensemble.py
  test/test_nn.py
Labels: enhancement, CLA Signed

#490 [CI] Fix Doc CI bis
  docs/requirements.txt
Labels: CLA Signed

#492 Add dist/ to gitignore.
  .gitignore
Labels: CLA Signed

#488 [BugFix] Fix indexing of lazy stacks
  tensordict/memmap.py
  tensordict/tensorclass.py
  tensordict/tensordict.py
  tensordict/utils.py
  test/test_tensordict.py
  test/test_utils.py
Labels: bug, CLA Signed

#497 [WIP] Fix lazy stack / stack_onto
  tensordict/persistent.py
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: CLA Signed

#500 [Feature] TensorDictParams
  docs/source/reference/nn.rst
  tensordict/__init__.py
  tensordict/nn/__init__.py
  tensordict/nn/params.py
  tensordict/persistent.py
  tensordict/tensordict.py
  test/_utils_internal.py
  test/test_nn.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#502 [Feature] Hooks and Buffers for TensorDictParams
  tensordict/nn/params.py
  tensordict/nn/utils.py
  test/test_nn.py
Labels: CLA Signed

#501 [Feature] PyTree compatibility
  tensordict/__init__.py
  tensordict/_pytree.py
  tensordict/nn/functional_modules.py
  test/test_functorch.py
Labels: enhancement, CLA Signed
