Repository pytorch/tensordict, pull requests merged in 2023-05, with the labels that each got.

#366 [Feature] tensordist.reduce
  tensordict/tensordict.py
  test/test_distributed.py
Labels: enhancement, CLA Signed

#368 [Feature] Modules that output dicts
  .github/workflows/nightly_build.yml
  tensordict/nn/common.py
  test/test_nn.py
Labels: CLA Signed

#369 [BugFix] Fix functional calls
  tensordict/nn/common.py
  tensordict/nn/functional_modules.py
  test/test_nn.py
Labels: CLA Signed

#370 [BugFix] Fix functional check for non TensorDictModuleBase modules
  tensordict/nn/functional_modules.py
Labels: CLA Signed

#371 [BugFix] Fix pop for stacked tds
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: CLA Signed

#372 [Feature] Keep dimension names in vmap
  tensordict/nn/functional_modules.py
  tensordict/tensordict.py
  test/test_functorch.py
Labels: CLA Signed

#373 [Versioning] v0.1.1
  .github/workflows/wheels.yml
  README.md
  test/test_functorch.py
  version.txt
Labels: CLA Signed, versioning

#375 [Benchmark] More indexing benchmarks
  benchmarks/common/common_ops_test.py
Labels: CLA Signed, Benchmarks

#377 [Refactor] Dropping python 3.7 compatibility
  .circleci/config.yml
  .github/workflows/nightly_build.yml
  .github/workflows/wheels.yml
Labels: CLA Signed, CI

#380 [Versioning] v0.1.2
  .github/workflows/wheels.yml
  README.md
  version.txt
Labels: CLA Signed, versioning

#383 [Bugfix] Indexing memmaps with torch.Tensor
  tensordict/memmap.py
Labels: bug, CLA Signed

#387 [CI] Concurrency on gha
  .github/workflows/benchmarks.yml
  .github/workflows/benchmarks_pr.yml
  .github/workflows/docs.yml
  .github/workflows/nightly_build.yml
  .github/workflows/selfassign.yml
  .github/workflows/wheels.yml
Labels: CLA Signed, CI

#386 [Benchmark] Fix GPU benchmark
  .github/workflows/benchmarks.yml
  .github/workflows/benchmarks_pr.yml
Labels: CLA Signed, Benchmarks

#390 [Feature] Better error message in tdmodule
  tensordict/nn/common.py
  test/test_nn.py
Labels: enhancement, CLA Signed, Refactor

#391 [Refactor] Simplify exclude
  tensordict/tensordict.py
Labels: CLA Signed, Refactor

#389 [Refactor] Faster creation on device
  tensordict/tensordict.py
Labels: CLA Signed, Refactor

#384 [Bugfix] fix getitem
  tensordict/nn/common.py
  test/test_nn.py
Labels: CLA Signed

#392 [BugFix] fix infinite loop
  tensordict/tensordict.py
Labels: bug, CLA Signed

#396 [Feature] Module serialization
  tensordict/nn/common.py
  test/test_nn.py
Labels: bug, enhancement, CLA Signed

#397 [BugFix] Fix pickle PR
  tensordict/nn/common.py
Labels: bug, CLA Signed

#398 [BugFix] Fix regex in tensorclass error checks
  test/test_tensorclass.py
Labels: bug, CLA Signed, Test

#395 [Feature] Registering a tensordict as a module buffer
  tensordict/persistent.py
  tensordict/tensordict.py
  test/test_nn.py
  test/test_tensorclass.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#399 [BugFix] Repr of het stacked tds
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: CLA Signed

#402 [Refactor] Fix warnings
  tensordict/tensordict.py
Labels: CLA Signed, Refactor
