Repository pytorch/tensordict, pull requests merged in 2023-01, with the labels that each got.

#138 [BugFix] LazyStackedTensorDict indexing along stack_dim
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#139 [Feature] Support `range` in indexing operations
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: CLA Signed

#137 [BugFix] improving select for LazyStackedTD
  tensordict/metatensor.py
  tensordict/tensordict.py
  test/_utils_internal.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#141 [BugFix] Stack dimension indexing
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: CLA Signed

#142 [BugFix] Fix LazyStackedTensorDict.update for LazyStackedTensorDict -> LazyStackedTensorDict
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: CLA Signed

#143 [BugFix] Prevent calls to get_nestedtensor when stack_dim is not 0
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: CLA Signed

#136 [Doc] Some more doc for tensorclass
  README.md
Labels: documentation, CLA Signed

#144 [Versioning] Version 0.0.1c
  .github/workflows/wheels.yml
  version.txt
Labels: CLA Signed, versioning

#117 [Refactor] Remove prototype import patch
  tensordict/nn/prototype.py
Labels: CLA Signed, Refactor

#86 [Feature] Add codecov checks
  .circleci/config.yml
  .circleci/unittest/linux/scripts/environment.yml
  .circleci/unittest/linux/scripts/run_test.sh
  .circleci/unittest/linux_stable/scripts/environment.yml
  .circleci/unittest/linux_stable/scripts/run_test.sh
  .circleci/unittest/linux_torchrec/scripts/environment.yml
  .circleci/unittest/linux_torchrec/scripts/run_test.sh
Labels: enhancement, CLA Signed

#150 [BugFix] Add __len__ method to tensorclass
  tensordict/prototype/tensorclass.py
  test/test_tensorclass.py
  test/test_tensorclass_nofuture.py
Labels: CLA Signed

#147 [Doc] Tutorials with sphinx-gallery
  docs/requirements.txt
  docs/source/_static/js/modernizr.min.js
  docs/source/_static/js/tensordict_theme.js
  docs/source/_static/js/theme.js
  docs/source/conf.py
  docs/source/content_generation.py
  docs/source/index.rst
  docs/source/reference/generated/tensordict.LazyStackedTensorDict.rst
  docs/source/reference/generated/tensordict.SubTensorDict.rst
  docs/source/reference/generated/tensordict.TensorDict.rst
  docs/source/reference/generated/tensordict.nn.ProbabilisticTensorDictModule.rst
  docs/source/reference/generated/tensordict.nn.TensorDictModule.rst
  docs/source/reference/generated/tensordict.nn.TensorDictModuleWrapper.rst
  docs/source/reference/generated/tensordict.nn.TensorDictSequential.rst
  docs/source/reference/generated/tensordict.utils.expand_as_right.rst
  docs/source/reference/generated/tensordict.utils.expand_right.rst
  docs/source/reference/generated/tutorials/README.rst
  docs/source/reference/nn.rst
  tensordict/nn/__init__.py
  tensordict/tensordict.py
  tutorials/README.md
  tutorials/dummy.py
  tutorials/media/.gitkeep
  tutorials/sphinx_tuto/data_fashion.py
  tutorials/sphinx_tuto/tensorclass_fashion.py
  tutorials/src/.gitkeep
Labels: documentation, CLA Signed

#149 [Docs] Imagenet tutorial
  .github/workflows/docs.yml
  docs/Makefile
  docs/build_script.sh
  docs/requirements.txt
  docs/source/index.rst
  tutorials/sphinx_tuto/tensorclass_imagenet.py
Labels: CLA Signed

#152 [Doc] More tutorials: ImageNet
  .github/workflows/docs.yml
  docs/Makefile
  docs/build_script.sh
  docs/requirements.txt
  docs/source/index.rst
  tutorials/sphinx_tuto/tensorclass_imagenet.py
Labels: enhancement, CLA Signed

#156 [Doc] Adding external link badges to the documentation
  docs/source/_templates/layout.html
  docs/source/conf.py
Labels: bug, CLA Signed

#160 [Docs] Typo and formatting in overview example
  docs/source/overview.rst
Labels: CLA Signed

#161 [BugFix] Use distribution kwargs
  tensordict/nn/probabilistic.py
  test/test_tensordictmodules.py
Labels: bug, CLA Signed

#165 [BugFix] Create TensorClass by modifying decorated class in-place
  tensordict/prototype/tensorclass.py
  test/test_tensorclass.py
  test/test_tensorclass_nofuture.py
Labels: bug, enhancement, CLA Signed, Refactor

#168 [Refactor] Deprecating MetaTensor
  benchmarks/common_ops.py
  tensordict/__init__.py
  tensordict/metatensor.py
  tensordict/prototype/tensorclass.py
  tensordict/tensordict.py
  tensordict/utils.py
  test/_utils_internal.py
  test/test_tensordict.py
  test/test_torchrec.py
Labels: CLA Signed, Refactor

#171 Dataloading amend
  benchmarks/distributed/dataloading.py
Labels: CLA Signed

#167 [Feature] TorchSnapshot compatibility
  .circleci/unittest/linux/scripts/install.sh
  .circleci/unittest/linux/scripts/run_test.sh
  .circleci/unittest/linux_stable/scripts/install.sh
  .circleci/unittest/linux_stable/scripts/run_test.sh
  .circleci/unittest/linux_torchrec/scripts/install.sh
  .circleci/unittest/linux_torchrec/scripts/run_test.sh
  docs/source/index.rst
  docs/source/saving.rst
  tensordict/memmap.py
  tensordict/prototype/tensorclass.py
  tensordict/tensordict.py
  test/test_tensorclass.py
  test/test_tensorclass_nofuture.py
  test/test_tensordict.py
Labels: bug, documentation, enhancement, CLA Signed

#166 [Docs] Update to ImageNet tutorial
  .circleci/unittest/linux/scripts/install.sh
  .circleci/unittest/linux_stable/scripts/install.sh
  .circleci/unittest/linux_torchrec/scripts/install.sh
  benchmarks/common/common_ops.py
  benchmarks/common/pytree_benchmarks.py
  benchmarks/distributed/dataloading.py
  benchmarks/distributed/distributed_benchmark.py
  benchmarks/nn/functional_benchmarks.py
  benchmarks/requirements.txt
  docs/requirements.txt
  docs/source/reference/tensordict.rst
  docs/source/tutorials/images/imagenet-benchmark-speed.png
  docs/source/tutorials/images/imagenet-benchmark-time.png
  tensordict/memmap.py
  tensordict/prototype/tensorclass.py
  tensordict/tensordict.py
  test/test_memmap.py
  test/test_tensordict.py
  tutorials/sphinx_tuto/tensorclass_imagenet.py
Labels: documentation, CLA Signed

#177 [BugFix] Typo in tensorclass.__ne__
  tensordict/prototype/tensorclass.py
Labels: bug, CLA Signed

#180 [Refactor] Minor tweak to the data collection in ImageNet tuto
  .github/workflows/docs.yml
  docs/requirements.txt
  docs/source/tutorials/images/imagenet-benchmark-speed.png
  docs/source/tutorials/images/imagenet-benchmark-time.png
  tutorials/sphinx_tuto/tensorclass_imagenet.py
Labels: documentation, CLA Signed

#175 [Refactor] TensorClass drop _tensordict argument in constructor
  tensordict/prototype/tensorclass.py
  test/test_tensorclass.py
  test/test_tensorclass_nofuture.py
Labels: CLA Signed, Refactor

#172 [Feature] TensorClass `__post_init__` support
  tensordict/prototype/tensorclass.py
  test/test_tensorclass.py
  test/test_tensorclass_nofuture.py
Labels: enhancement, CLA Signed

#183 [BugFix, Doc] Minor fix in the doc
  tutorials/sphinx_tuto/tensorclass_imagenet.py
Labels: bug, documentation, CLA Signed

#184 [Versioning] Version 0.0.2a
  .github/workflows/wheels.yml
  version.txt
Labels: CLA Signed, versioning

#173 [CI, Benchmarks] pytest benchmarks
  benchmarks/common/common_ops.py
  benchmarks/common/common_ops_test.py
  benchmarks/common/pytree_benchmarks.py
  benchmarks/common/pytree_benchmarks_test.py
  benchmarks/conftest.py
  benchmarks/distributed/distributed_benchmark_test.py
  benchmarks/nn/functional_benchmarks.py
  benchmarks/nn/functional_benchmarks_test.py
Labels: CLA Signed, CI, Benchmarks

#174 [CI] pytest benchmarks workflow
  .github/workflows/benchmarks.yml
Labels: enhancement, CLA Signed, CI

#186 [Minor, Doc] Typo
  tensordict/prototype/tensorclass.py
Labels: documentation, CLA Signed

#187 [Refactor] Generate test_tensorclass.py from test_tensorclass_nofuture.py
  test/conftest.py
  test/test_tensorclass.py
  test/test_tensorclass_nofuture.py
Labels: CLA Signed

#188 [BugFix] Relax error matching in tensorclass tests
  test/test_tensorclass_nofuture.py
Labels: CLA Signed

#191 [BugFix] Using set_interaction_mode as decorator
  tensordict/nn/probabilistic.py
  test/test_tensordictmodules.py
Labels: bug, CLA Signed

#193 [Feature] apply across multiple TDs
  tensordict/memmap.py
  tensordict/tensordict.py
  test/test_memmap.py
  test/test_tensordict.py
Labels: bug, enhancement, CLA Signed, BC-breaking

#192 [BugFix] MemmapTensor from MemmapTensor __dir__ issue
  test/test_memmap.py
Labels: bug, CLA Signed

#195 [BugFix] Shape change during prealloc
  tensordict/tensordict.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#196 [BugFix] Incorrect output batch_size with functorch.vmap
  tensordict/nn/functional_modules.py
  test/test_functorch.py
Labels: bug, CLA Signed

#189 [Feature] More arguments for MemmapTensor construction
  docs/source/saving.rst
  tensordict/memmap.py
  tensordict/tensordict.py
  test/conftest.py
  test/test_memmap.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#197 [Benchmarks] Add MemmapTensor benchmarks
  benchmarks/common/memmap_benchmarks_test.py
  benchmarks/requirements.txt
Labels: CLA Signed
