Repository pytorch/tensordict, pull requests merged in 2024-04, with the labels that each got.

#722 [Feature] Pointwise arithmetic operations using foreach
  README.md
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/base.py
  tensordict/nn/params.py
  tensordict/persistent.py
  tensordict/tensorclass.py
  tensordict/utils.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#724 [Doc] fix typo
  docs/source/overview.rst
Labels: CLA Signed

#728 [Performance] Random speedups
  tensordict/_td.py
  tensordict/base.py
  tensordict/utils.py
Labels: CLA Signed, Performance

#727 [Performance] Faster flatten_keys
  tensordict/_td.py
  tensordict/base.py
Labels: CLA Signed, Performance

#729 [BugFix] Fix zipping in flatten_keys
  tensordict/base.py
Labels: bug, CLA Signed

#731 [BugFix] consistent use of non_blocking in tensordict and torch.Tensor
  tensordict/_td.py
  test/test_tensordict.py
Labels: bug, enhancement, CLA Signed

#733 Revert "[BugFix] consistent use of non_blocking in tensordict and torch.Tensor"
  tensordict/_td.py
  test/test_tensordict.py
Labels: CLA Signed

#734 [BugFix] consistent use of non_blocking in tensordict and torch.Tensor
  tensordict/_td.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#736 [Badge] Discord shield
  README.md
Labels: enhancement, CLA Signed

#737 [BugFix] Make functorch.dim optional
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/nn/params.py
  tensordict/utils.py
  test/test_tensordict.py
Labels: CLA Signed

#740 [Feature] Faster to(device)
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/base.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed, Performance

#739 [Feature] use return_mask as a string in pad_sequence
  tensordict/functional.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#742 [BugFix] Patch pad_sequence
  tensordict/functional.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#743 [Minor] Minor improvements to tensorclass
  tensordict/base.py
  tensordict/tensorclass.py
Labels: bug, CLA Signed

#741 [BugFix] Avoid lazy stacks in stack if not asked explicitly
  tensordict/_lazy.py
  tensordict/_torch_func.py
  tensordict/base.py
  test/test_distributed.py
  test/test_nn.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#744 [BugFix] Fix lazy stack keys
  tensordict/_lazy.py
  tensordict/_td.py
Labels: bug, CLA Signed

#745 [BugFix] Fix keys for nested lazy stacks
  tensordict/_lazy.py
  tensordict/_td.py
Labels: bug, CLA Signed

#735 [Feature] Type casting for tensorclass
  tensordict/tensorclass.py
  tensordict/utils.py
  test/test_tensorclass.py
Labels: enhancement, CLA Signed

#730 [Feature] Inherit lock in shape / tensor ops
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/_torch_func.py
  tensordict/base.py
  test/test_functorch.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#748 [Feature] non_blocking=None by default
  tensordict/_lazy.py
  tensordict/_td.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#747 [Versioning] Remove deprecated features
  docs/source/reference/tensordict.rst
  tensordict/__init__.py
  tensordict/_lazy.py
  tensordict/_pytree.py
  tensordict/_td.py
  tensordict/_torch_func.py
  tensordict/base.py
  tensordict/memmap.py
  tensordict/memmap_deprec.py
  tensordict/persistent.py
  tensordict/tensorclass.py
  tensordict/tensordict.py
  tensordict/utils.py
  tutorials/sphinx_tuto/tensordict_slicing.py
Labels: CLA Signed, versioning

#749 [Versioning] Torch version
  setup.py
Labels: CLA Signed, versioning

#750 [BugFIx] FIx tc.update_
  tensordict/tensorclass.py
Labels: bug, CLA Signed

#752 [Minor] Remove double locks on data and grad
  tensordict/base.py
  test/test_tensordict.py
Labels: CLA Signed

#754 [Doc] Fix probabilistic td module doc
  .github/unittest/linux/scripts/setup_env.sh
  .github/workflows/test-macos.yml
  tensordict/nn/probabilistic.py
Labels: documentation, CLA Signed

#755 Revert "[Doc] Fix probabilistic td module doc"
  .github/unittest/linux/scripts/setup_env.sh
  .github/workflows/test-macos.yml
  tensordict/nn/probabilistic.py
Labels: CLA Signed

#753 [CI] Remove OSX x86 jobs
  .github/unittest/linux/scripts/setup_env.sh
  .github/workflows/test-macos.yml
Labels: CLA Signed, CI

#756 [Doc] Fix probabilistic td module doc
  tensordict/nn/probabilistic.py
Labels: documentation, CLA Signed

#758 [Doc] Per-release docs
  .github/workflows/docs.yml
Labels: documentation, CLA Signed

#759 [CI] Schedule workflow for release branches
  .github/workflows/docs.yml
  .github/workflows/wheels.yml
Labels: CLA Signed, CI

#757 [BugFix] Fix colab in tutos
  tutorials/sphinx_tuto/data_fashion.py
  tutorials/sphinx_tuto/tensorclass_fashion.py
  tutorials/sphinx_tuto/tensorclass_imagenet.py
  tutorials/sphinx_tuto/tensordict_keys.py
  tutorials/sphinx_tuto/tensordict_memory.py
  tutorials/sphinx_tuto/tensordict_module.py
  tutorials/sphinx_tuto/tensordict_module_functional.py
  tutorials/sphinx_tuto/tensordict_preallocation.py
  tutorials/sphinx_tuto/tensordict_shapes.py
  tutorials/sphinx_tuto/tensordict_slicing.py
Labels: documentation, CLA Signed

#751 [Feature] Mean, std, var, prod, sum
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/base.py
  tensordict/nn/params.py
  tensordict/persistent.py
Labels: enhancement, CLA Signed

#760 [CI] Remove all osx x86 workflows
  .github/workflows/nightly_build.yml
  .github/workflows/wheels.yml
Labels: CLA Signed, CI

#761 [CI] Doc on release tag
  .github/workflows/docs.yml
Labels: CLA Signed

#762 [Doc,CI] Sanitize version
  .github/workflows/docs.yml
  docs/source/conf.py
Labels: documentation, CLA Signed, CI

#763 [CI] Fix wheels
  .github/workflows/nightly_build.yml
  .github/workflows/wheels.yml
Labels: CLA Signed, CI

#764 [Versioning] Allow any torch version for local builds
  .github/scripts/m1_script.sh
  .github/workflows/wheels.yml
  setup.py
Labels: CLA Signed, versioning

#765 [BugFix] Fix map test with fork on cuda
  test/test_tensordict.py
Labels: bug, CLA Signed

#767 [BugFix] Sync cuda only if initialized
  tensordict/base.py
Labels: bug, CLA Signed

#768 [Feature] Expose call_on_nested to apply and named_apply
  tensordict/base.py
  tensordict/nn/params.py
Labels: enhancement, CLA Signed
