Repository pytorch/tensordict, pull requests merged in 2024-02, with the labels that each got.

#649 [Versioning] v0.4.0
  .github/scripts/m1_script.sh
  .github/workflows/wheels.yml
  version.txt
Labels: CLA Signed, versioning

#650 [BugFix] Loading phantom state-dicts
  tensordict/_td.py
  tensordict/base.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#655 [BugFix] Improve update_
  tensordict/_lazy.py
  tensordict/base.py
  tensordict/utils.py
  test/test_tensordict.py
Labels: CLA Signed

#657 [BugFix,WIP] Fix indexing (lazy stack and names)
  tensordict/_lazy.py
  tensordict/_td.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#658 [BugFix] Fix empty(recurse) call in _apply_nest
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/base.py
Labels: bug, CLA Signed

#661 [BugFix,Feature] filter_empty in apply
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/base.py
  tensordict/nn/params.py
  tensordict/tensorclass.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#662 [BugFix] Keep dim names in transpose
  tensordict/_lazy.py
  tensordict/_td.py
Labels: bug, CLA Signed

#664 [BugFix] Missing **kwargs in apply_ fallback
  tensordict/base.py
Labels: bug, CLA Signed

#665 [Refactor] Cleanup deprecation of empty td filtering in apply
  tensordict/_td.py
  tensordict/base.py
  test/test_functorch.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed, Refactor

#654 [Feature] Adds utils method isin
  docs/source/reference/tensordict.rst
  tensordict/utils.py
  test/test_utils.py
Labels: enhancement, CLA Signed

#653 [Feature] Adds utils method remove_duplicates
  docs/source/reference/tensordict.rst
  tensordict/utils.py
  test/test_utils.py
Labels: enhancement, CLA Signed

#667 [Feature] map with preallocated output
  tensordict/base.py
  tensordict/utils.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#669 [Benchmark] Benchmark to_module
  benchmarks/nn/functional_benchmarks_test.py
Labels: CLA Signed, Benchmarks

#670 [BugFix] Faster to_module
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/base.py
  tensordict/nn/params.py
  tensordict/persistent.py
  test/test_nn.py
Labels: bug, CLA Signed, Performance

#671 [BugFix] Fix to_module `__exit__` update when td is locked
  tensordict/_td.py
  tensordict/nn/params.py
  test/test_nn.py
Labels: bug, CLA Signed

#672 [Feature] Use generator for map
  tensordict/base.py
  tensordict/persistent.py
  tensordict/utils.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#673 [BugFix] module hook fixes
  tensordict/nn/common.py
Labels: bug, CLA Signed

#674 [Refactor, Feature] Default to empty batch size
  tensordict/_td.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#675 [Feature] td_flatten_with_keys
  tensordict/_pytree.py
  tensordict/utils.py
  test/test_functorch.py
Labels: enhancement, CLA Signed

#677 [Feature] `from_modules` method for MOE / ensemble learning
  tensordict/base.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#678 [BugFix, Refactor] More reliable Sequential.get_dist
  tensordict/nn/probabilistic.py
Labels: bug, CLA Signed, Refactor

#680 [Refactor] Set lazy_legacy to False by default
  tensordict/_torch_func.py
  tensordict/base.py
  tensordict/utils.py
Labels: CLA Signed, Refactor

#681 [BugFix] Fix lazy params init
  tensordict/_td.py
  tensordict/_torch_func.py
  tensordict/base.py
  tensordict/utils.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#683 [BugFix] Fix torch_function for uninit param
  tensordict/_torch_func.py
Labels: bug, CLA Signed

#684 [BugFix] Remove monkey patching of uninit params
  tensordict/_torch_func.py
Labels: bug, CLA Signed

#687 [BugFix] Fix singleton dims in expand_as_right
  tensordict/utils.py
Labels: bug, CLA Signed

#688 [BugFix] Fix to_module batch-size mismatch
  tensordict/_td.py
  test/test_nn.py
Labels: bug, CLA Signed

#689 [BugFix] Fix load_state_dict for TensorDictParams
  tensordict/nn/params.py
  test/test_nn.py
Labels: bug, CLA Signed

#690 [BugFix] Fix name gathering with tensor indices
  tensordict/_td.py
  tensordict/_torch_func.py
Labels: bug, CLA Signed

#691 [BugFix] tensorclass as a decorator
  tensordict/tensorclass.py
  test/test_tensorclass.py
Labels: bug, CLA Signed

#652 [BugFix, Feature] `pad_sequence` refactoring
  tensordict/functional.py
  test/test_tensordict.py
Labels: bug, enhancement, CLA Signed

#693 [Feature] Warn when `reset_parameters_recursive` is a no-op
  tensordict/nn/common.py
  test/test_nn.py
Labels: enhancement, CLA Signed

#685 [Feature] Better detection of non-tensor data
  .github/workflows/test-rl-gpu.yml
  docs/source/reference/tensorclass.rst
  tensordict/__init__.py
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/_torch_func.py
  tensordict/base.py
  tensordict/nn/params.py
  tensordict/nn/utils.py
  tensordict/tensorclass.py
  tensordict/utils.py
  test/test_nn.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed
