Repository pytorch/tensordict, pull requests merged in 2024-06, with the labels that each got.

#802 [BugFix] Allow fake-tensor detection pass through in torch 2.0
  tensordict/_td.py
Labels: bug, CLA Signed, versioning

#804 [Feature] Allow calls to get_mode, get_mean and get_median in case mode, mean or median is not present
  tensordict/nn/probabilistic.py
Labels: enhancement, CLA Signed

#806 [Versioning] tree_leaves for pytorch < 2.3
  tensordict/_torch_func.py
Labels: CLA Signed, versioning

#807 [Feature] remove distutils dependency and enable 3.12 support
  setup.py
  tensordict/base.py
  tensordict/nn/distributions/composite.py
  tensordict/nn/utils.py
  tensordict/utils.py
  tutorials/sphinx_tuto/tensorclass_imagenet.py
Labels: CLA Signed, versioning

#809 [Feature] map_names for composite dists
  tensordict/_torch_func.py
  tensordict/nn/distributions/composite.py
  test/test_nn.py
Labels: enhancement, CLA Signed

#810 [Feature] Make Probabilistic modules aware of CompositeDistributions out_keys
  tensordict/nn/probabilistic.py
  test/test_nn.py
Labels: enhancement, CLA Signed

#811 [BugFix] Fix empty tuple index
  tensordict/_lazy.py
  tensordict/base.py
Labels: bug, CLA Signed

#813 [BugFix] @property setter in tensorclass
  tensordict/tensorclass.py
  test/test_tensorclass.py
Labels: bug, CLA Signed

#815 [BugFix] Fix gather device
  tensordict/_torch_func.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#816 [Performance] Faster lock_/unclock_ when sub-tds are already locked
  tensordict/base.py
Labels: CLA Signed, Performance

#817 [BugFix] Fix tensorclass register
  tensordict/_td.py
  tensordict/tensorclass.py
Labels: bug, CLA Signed

#820 [BugFix] Fix stack of tensorclasses (and nontensors)
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/_torch_func.py
  tensordict/base.py
  tensordict/nn/params.py
  tensordict/tensorclass.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#822 [BugFix] FIx non-tensor writing in modules
  tensordict/nn/common.py
  test/test_nn.py
Labels: bug, CLA Signed

#818 [CI] Python 3.12 compatibility
  .github/workflows/nightly_build.yml
  .github/workflows/test-linux.yml
  .github/workflows/wheels.yml
  .pre-commit-config.yaml
  benchmarks/distributed/dataloading.py
  tensordict/_td.py
  tutorials/sphinx_tuto/tensorclass_imagenet.py
Labels: CLA Signed, versioning, CI

#824 [Feature] DETERMINISTIC interaction mode
  tensordict/nn/distributions/continuous.py
  tensordict/nn/distributions/discrete.py
  tensordict/nn/probabilistic.py
Labels: enhancement, CLA Signed

#825 [Feature] Change default interaction types to DETERMINISTIC
  tensordict/nn/probabilistic.py
  test/test_nn.py
Labels: enhancement

#827 [Feature] determinstic_sample for composite dist
  tensordict/nn/distributions/composite.py
Labels: enhancement, CLA Signed

#828 [BugFix] Fix fallback of deterministic samples when mean is not available
  tensordict/nn/probabilistic.py
Labels: bug, CLA Signed

#829 [Feature] isfinite, isnan, isreal
  tensordict/base.py
  tensordict/tensorclass.py
  test/test_tensordict.py
Labels: CLA Signed

#830 [BugFix] Fix deterministic fallback when the dist has no support
  tensordict/nn/probabilistic.py
Labels: bug

#832 [Feature] from and to_pytree
  tensordict/base.py
  tensordict/utils.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#835 [Feature] view(dtype)
  tensordict/base.py
  test/test_tensordict.py
Labels: CLA Signed

#834 [Feature] Better dtype coverage
  tensordict/base.py
  tensordict/utils.py
Labels: enhancement, CLA Signed

#837 [BugFix] Avoid collapsing NonTensorStack when calling where
  tensordict/_lazy.py
  tensordict/tensorclass.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#839 [Versioning] Make dependence on uint16 optional for older PT versions
  tensordict/utils.py
Labels: CLA Signed

#838 [Test] Test FC of memmap save and load
  tensordict/tensorclass.py
  test/artifacts/mmap_example/meta.json
  test/artifacts/mmap_example/nested/bfloat16.memmap
  test/artifacts/mmap_example/nested/int64.memmap
  test/artifacts/mmap_example/nested/meta.json
  test/artifacts/mmap_example/nested/string/meta.json
  test/test_tensordict.py
Labels: CLA Signed, Test

#842 [BugFix] Fix `_make_dtype_promotion` backward compat
  tensordict/utils.py
Labels: CLA Signed

#814 [Feature] TensorDict.consolidate
  .github/unittest/linux/scripts/environment.yml
  .github/unittest/linux_torchrec/scripts/environment.yml
  .github/unittest/rl_linux_optdeps/scripts/environment.yml
  setup.py
  tensordict/__init__.py
  tensordict/_lazy.py
  tensordict/_pytree.py
  tensordict/_reductions.py
  tensordict/_td.py
  tensordict/base.py
  tensordict/memmap.py
  tensordict/nn/params.py
  tensordict/persistent.py
  tensordict/tensorclass.py
  tensordict/utils.py
  test/test_tensorclass.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#843 [Refactor] Remove `_run_checks` from `__init__`
  tensordict/_lazy.py
  tensordict/_pytree.py
  tensordict/_td.py
  tensordict/_torch_func.py
  tensordict/functional.py
  tensordict/nn/functional_modules.py
  tensordict/tensorclass.py
Labels: CLA Signed, Refactor
