Repository pytorch/tensordict, pull requests merged in 2024-12, with the labels that each got.

#1117 [Feature] ProbabilisticTensorDictModule.num_samples
  tensordict/nn/probabilistic.py
  tensordict/nn/sequence.py
Labels: CLA Signed

#1119 [BugFix] Cloning empty tensordicts
  tensordict/base.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#1122 [Doc,BugFix,Feature] Better doc for reductions
  tensordict/_td.py
  tensordict/base.py
  test/test_tensordict.py
Labels: bug, documentation, enhancement, CLA Signed

#1123 [Feature] ProbabilisticTensorDictSequential.default_interaction_type
  tensordict/nn/probabilistic.py
  test/test_nn.py
Labels: CLA Signed

#1124 [BugFix] Add checks and to_module to tensorclass accepted methods
  tensordict/tensorclass.py
Labels: CLA Signed

#1125 [BugFix] Do not unlock td if it's not locked in TDParams (for compile compat)
  tensordict/nn/params.py
Labels: CLA Signed

#1128 [Tests] Skip deprecation warning tests on FB fbcode
  test/test_nn.py
Labels: CLA Signed

#1134 [Quality] Avoid torch.distributed imports at root
  tensordict/_lazy.py
  tensordict/base.py
  tensordict/tensorclass.pyi
  test/smoke_test.py
Labels: CLA Signed

#1136 [Refactor] Avoid lambda functions in core functionality
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/_torch_func.py
  tensordict/base.py
  tensordict/tensorclass.py
  tensordict/utils.py
Labels: CLA Signed

#1132 [Feature] NonTensorStack.data
  tensordict/_lazy.py
  tensordict/base.py
  tensordict/tensorclass.py
Labels: CLA Signed

#1130 [BugFix] Fix typo in `OneHotCategorical`
  tensordict/nn/distributions/discrete.py
Labels: bug, CLA Signed

#1137 [BugFix] Better comparison of tensorclasses
  tensordict/utils.py
Labels: CLA Signed

#1139 [Refactor] Better compile checks
  tensordict/_td.py
  tensordict/_torch_func.py
  tensordict/base.py
  tensordict/nn/common.py
  tensordict/nn/utils.py
  tensordict/tensorclass.py
Labels: CLA Signed

#1142 [Feature] OrderedDict for TensorDictSequential
  tensordict/nn/probabilistic.py
  tensordict/nn/sequence.py
  test/test_nn.py
Labels: CLA Signed

#1145 [Feature] Optional in_keys for WrapModule
  tensordict/nn/common.py
Labels: CLA Signed

#1148 [CI] Fix nightly build
  .github/workflows/nightly_build.yml
Labels: CLA Signed, CI

#1151 [Test] Ignore annoying jit_utils warning with device context manager
  test/test_tensordict.py
Labels: CLA Signed, Test

#1150 [BugFix] Fix update_ KeyError when a key from source is missing in dest
  tensordict/base.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#1154 [Feature] Add `__abs__` docstrings, `__neg__`, `__rxor__`, `__ror__`, `__invert__`, `__and__`, `__rand__`, `__radd__`, `__rtruediv__`, `__rmul__`, `__rsub__`, `__rpow__`, `bitwise_and`, `logical_and`
  tensordict/base.py
  tensordict/tensorclass.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed
