Repository pytorch/tensordict, pull requests merged in 2024-07, with the labels that each got.

#844 [Feature] Multithreaded apply
  .pre-commit-config.yaml
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/base.py
  tensordict/nn/params.py
  tensordict/persistent.py
  tensordict/tensorclass.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed, Performance

#846 [Feature,Performance] `to(device, pin_memory, num_threads)`
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/base.py
  tensordict/nn/params.py
  tensordict/persistent.py
  tensordict/utils.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed, Performance

#849 [BugFix] Fix builds
  .github/workflows/nightly_build.yml
Labels: CLA Signed, CI

#848 [Versioning] v0.5 bump
  .github/scripts/m1_script.sh
  .github/workflows/wheels.yml
  benchmarks/distributed/dataloading.py
  benchmarks/tensorclass/test_tensorclass_speed.py
  benchmarks/tensorclass/test_torch_functions.py
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/functional.py
  tensordict/nn/common.py
  tensordict/nn/probabilistic.py
  tensordict/prototype/__init__.py
  tensordict/prototype/tensorclass.py
  tensordict/utils.py
  tutorials/sphinx_tuto/tensorclass_fashion.py
  tutorials/sphinx_tuto/tensorclass_imagenet.py
  version.txt
Labels: CLA Signed, versioning

#841 [Refactor] Make all leaves in tensorclass part of `_tensordict`, except for NonTensorData
  tensordict/_td.py
  tensordict/tensorclass.py
  tensordict/utils.py
  test/test_tensorclass.py
  test/test_tensordict.py
Labels: CLA Signed, Refactor, BC-breaking

#850 [BugFix,CI] Fix storage filename tests
  test/test_memmap.py
Labels: CLA Signed

#847 [Feature] map_iter
  tensordict/base.py
  tensordict/tensorclass.py
  tensordict/utils.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#854 [BugFix] fix tensorclass set
  tensordict/tensorclass.py
  test/test_tensorclass.py
Labels: bug, CLA Signed

#855 [BugFix] Fix key ordering in pointwise ops
  tensordict/base.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#859 [Quality] fix c++ binaries formatting
  tensordict/csrc/utils.cpp
  tensordict/csrc/utils.h
Labels: CLA Signed

#861 [CI] Fix nightly build
  .github/workflows/nightly_build.yml
Labels: CLA Signed, CI

#860 [Refactor] Refactor c++ binaries location
  setup.py
  tensordict/_C/__init__.pyi
  tensordict/__init__.py
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/_tensordict/__init__.py
  tensordict/csrc/pybind.cpp
  tensordict/nn/common.py
  tensordict/nn/functional_modules.py
  tensordict/nn/sequence.py
  tensordict/tensorclass.py
  tensordict/utils.py
  test/test_nn.py
  test/test_utils.py
Labels: CLA Signed, Refactor

#862 [BugFix] Fix map
  tensordict/base.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#864 [BugFix] Fix setting non-tensors as data in NonTensorData
  tensordict/tensorclass.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#873 [Feature] Compile integration - basics
  benchmarks/tensorclass/test_torch_functions.py
  tensordict/__init__.py
  tensordict/_contextlib.py
  tensordict/_lazy.py
  tensordict/_pytree.py
  tensordict/_td.py
  tensordict/_torch_func.py
  tensordict/base.py
  tensordict/functional.py
  tensordict/nn/params.py
  tensordict/tensorclass.py
  tensordict/utils.py
  test/test_compile.py
  test/test_tensordict.py
Labels: CLA Signed

#877 [Feature] Compile - nn compatibility
  .github/unittest/linux/scripts/run_test.sh
  .github/unittest/linux_torchrec/scripts/run_test.sh
  .github/unittest/rl_linux_optdeps/scripts/run_test.sh
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/base.py
  tensordict/nn/common.py
  tensordict/nn/params.py
  tensordict/nn/sequence.py
  tensordict/nn/utils.py
  tensordict/utils.py
  test/test_compile.py
Labels: enhancement, CLA Signed

#881 [Feature] Compile - nn compatibility
  .github/unittest/linux/scripts/run_test.sh
  .github/unittest/linux_torchrec/scripts/run_test.sh
  .github/unittest/rl_linux_optdeps/scripts/run_test.sh
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/base.py
  tensordict/nn/common.py
  tensordict/nn/params.py
  tensordict/nn/sequence.py
  tensordict/nn/utils.py
  tensordict/utils.py
  test/test_compile.py
Labels: enhancement, CLA Signed

#880 [Performance] Faster tensorclass set
  tensordict/tensorclass.py
Labels: CLA Signed, Performance

#886 [Quality] zip-strict when possible
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/_torch_func.py
  tensordict/base.py
  tensordict/nn/common.py
  tensordict/nn/probabilistic.py
  tensordict/persistent.py
  tensordict/prototype/fx.py
  tensordict/tensorclass.py
  tensordict/utils.py
Labels: CLA Signed

#884 [BugFix] Fix `pad_sequence` behavior for non-tensor attributes of tensorclass
  tensordict/functional.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#888 [BugFix] Fix lazy stack indexing and split with empty slices
  tensordict/_lazy.py
  tensordict/_torch_func.py
  test/test_tensordict.py
Labels: CLA Signed

#889 [Feature] lazy-stack with different TD shapes
  tensordict/_lazy.py
  tensordict/base.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#891 [Feature] TD.new_zeros
  tensordict/base.py
  tensordict/tensorclass.py
  test/test_tensordict.py
Labels: CLA Signed

#892 [Feature] TD.new_ones
  tensordict/base.py
  tensordict/tensorclass.py
  test/test_tensordict.py
Labels: CLA Signed

#893 [Feature] TD.new_empty
  tensordict/base.py
  tensordict/tensorclass.py
  test/test_tensordict.py
Labels: CLA Signed

#894 [Feature] TD.new_full
  tensordict/base.py
  tensordict/tensorclass.py
  test/test_tensordict.py
Labels: CLA Signed

#897 [Quality] Better repr of keys
  tensordict/_lazy.py
  tensordict/utils.py
Labels: CLA Signed

#898 [Quality] Better `__repr__` for tensorclasses
  tensordict/tensorclass.py
  tensordict/utils.py
Labels: CLA Signed

#901 [Feature] `zero_grad` and `requires_grad_`
  tensordict/base.py
  tensordict/tensorclass.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#900 [Benchmark] Fix recursion and cache errors in benchmarks
  .github/workflows/benchmarks.yml
  .github/workflows/benchmarks_pr.yml
  benchmarks/compile/compile_td_test.py
  benchmarks/compile/tensordict_nn_test.py
  benchmarks/conftest.py
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/_torch_func.py
  tensordict/base.py
  tensordict/csrc/pybind.cpp
  tensordict/csrc/utils.cpp
  tensordict/csrc/utils.h
  tensordict/tensorclass.py
  tensordict/utils.py
  test/conftest.py
  test/test_tensordict.py
Labels: CLA Signed, Benchmarks

#902 [BugFix] fix _expand_to_match_shape for single bool tensor
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/base.py
  tensordict/utils.py
  test/test_tensordict.py
Labels: CLA Signed

#904 [Feature] grad and data for tensorclasses
  tensordict/tensorclass.py
  test/test_tensorclass.py
Labels: enhancement, CLA Signed

#905 [Feature] construct tds with kwargs
  tensordict/_td.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#903 [BugFix] fix construction of lazy stacks from tds
  tensordict/_torch_func.py
  tensordict/base.py
  tensordict/functional.py
Labels: bug, CLA Signed

#906 [BugFix] Allow any tensorclass to have a data field
  tensordict/tensorclass.py
Labels: bug, CLA Signed

#907 [BugFix] Fix (keys, values) in sub
  tensordict/base.py
Labels: bug, CLA Signed

#908 [Feature] flatten_keys and unflatten_keys as context managers
  tensordict/_td.py
  tensordict/base.py
  tensordict/persistent.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#910 [Feature] add_custom_mapping and NPE refactors
  tensordict/nn/__init__.py
  tensordict/nn/distributions/continuous.py
  tensordict/nn/utils.py
Labels: enhancement, CLA Signed

#911 [Feature] from_modules expand_identical kwarg
  tensordict/base.py
  tensordict/nn/params.py
  tensordict/utils.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#912 [Performance] Faster getattr in TC
  tensordict/tensorclass.py
  test/test_compile.py
  test/test_tensordict.py
Labels: CLA Signed, Performance

#915 [Quality] non_blocking_pin instead of pin_memory
  tensordict/base.py
  tensordict/persistent.py
  tensordict/utils.py
  test/test_tensordict.py
Labels: CLA Signed

#916 [Refactor] Refactor is_dynamo_compile imports
  tensordict/_td.py
  tensordict/_torch_func.py
  tensordict/base.py
  tensordict/nn/common.py
  tensordict/nn/utils.py
  tensordict/tensorclass.py
  tensordict/utils.py
Labels: CLA Signed, Refactor

#917 [BugFix] Fix torch version assertion
  test/test_compile.py
Labels: bug, CLA Signed

#918 [Doc] Fix symbolic trace reference in doc
  docs/source/reference/nn.rst
Labels: documentation, CLA Signed

#914 [Performance] Faster to-module
  benchmarks/compile/tensordict_nn_test.py
  tensordict/_td.py
  test/test_tensordict.py
Labels: CLA Signed, Performance

#919 [Performance] Faster multithreaded pin_memory
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/base.py
  tensordict/nn/params.py
Labels: CLA Signed, Performance

#851 [Feature] `to` for consolidated TDs
  tensordict/_reductions.py
  tensordict/base.py
  tensordict/utils.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed, Performance

#890 [Formatting] Lint revamp
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/unittest/linux/scripts/run-clang-format.py
  .github/workflows/benchmarks_pr.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  docs/source/reference/nn.rst
  pyproject.toml
  setup.cfg
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/_torch_func.py
  tensordict/base.py
  tensordict/memmap.py
  tensordict/nn/params.py
  tensordict/nn/sequence.py
  tensordict/persistent.py
  tensordict/tensorclass.py
  test/test_compile.py
  test/test_distributed.py
  test/test_functorch.py
  test/test_h5.py
  test/test_nn.py
  test/test_tensorclass.py
  test/test_tensordict.py
  tutorials/dummy.py
  tutorials/sphinx_tuto/data_fashion.py
  tutorials/sphinx_tuto/tensorclass_fashion.py
  tutorials/sphinx_tuto/tensordict_module.py
  tutorials/sphinx_tuto/tensordict_module_functional.py
Labels: CLA Signed, Formatting

#922 [Doc] Add docstrings to elementwise arithmetic ops
  tensordict/tensorclass.py
Labels: CLA Signed

#924 [BugFix] Fix compile + vmap
  tensordict/nn/functional_modules.py
  tensordict/tensorclass.py
  test/test_compile.py
Labels: bug, CLA Signed

#925 [BugFix] Fix vmap compatibility with torch<2.2
  tensordict/_td.py
  tensordict/_torch_func.py
  tensordict/base.py
  tensordict/nn/common.py
  tensordict/nn/functional_modules.py
  tensordict/nn/utils.py
  tensordict/tensorclass.py
  tensordict/utils.py
Labels: bug, CLA Signed

#926 [Test] Test non-tensor propagation in arithmetic ops
  test/test_tensordict.py
Labels: CLA Signed, Test

#928 [Refactor] Remove non-ascii characters from code base
  tensordict/base.py
  tutorials/dummy.py
  tutorials/sphinx_tuto/tensorclass_fashion.py
  tutorials/sphinx_tuto/tensorclass_imagenet.py
  tutorials/sphinx_tuto/tensordict_memory.py
Labels: CLA Signed, Refactor

#930 [Versioning] Upgrade torch to 2.4
  setup.py
Labels: CLA Signed, versioning

#929 [BugFix] Fix error catching of context-manager support in compile
  tensordict/base.py
  test/test_compile.py
Labels: bug, CLA Signed

#931 [Versioning] version script in wheels
  .github/scripts/version_script.sh
  .github/workflows/build-wheels-linux.yml
  .github/workflows/build-wheels-m1.yml
  .github/workflows/build-wheels-windows.yml
Labels: CLA Signed, versioning

#933 [Versioning] env-script for windows build
  .github/workflows/build-wheels-windows.yml
Labels: CLA Signed, versioning

#934 [Versioning] env-script for windows build (2)
  .github/scripts/version_script.bat
  .github/workflows/build-wheels-windows.yml
  .github/workflows/wheels-windows.yml
Labels: CLA Signed, versioning

#932 gh-pages 0.5 update
  versions.html
Labels: documentation, CLA Signed

#936 [BugFix] Fix select in tensorclass
  tensordict/tensorclass.py
  test/test_tensorclass.py
Labels: bug, CLA Signed
