Repository pytorch/tensordict, pull requests merged in 2024-01, with the labels that each got.

#604 [BugFix] Fix ellipsis check
  tensordict/_td.py
Labels: bug

#605 [Feature] Best intention stack
  tensordict/_lazy.py
  tensordict/_torch_func.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#593 [Doc] Doc revamp
  docs/source/index.rst
  docs/source/reference/index.rst
  docs/source/reference/tensorclass.rst
  docs/source/reference/tensordict.rst
  docs/source/saving.rst
  tensordict/memmap_deprec.py
  tensordict/utils.py
Labels: documentation, CLA Signed

#606 [BugFix, Doc] Fix tutorial
  .github/workflows/docs.yml
  docs/source/reference/nn.rst
  docs/source/reference/tensordict.rst
  tensordict/__init__.py
  tensordict/_td.py
  tutorials/sphinx_tuto/data_fashion.py
  tutorials/sphinx_tuto/tensorclass_fashion.py
  tutorials/sphinx_tuto/tensorclass_imagenet.py
  tutorials/sphinx_tuto/tensordict_memory.py
Labels: documentation, CLA Signed

#607 [BugFix] Fix gh-pages upload
  .github/workflows/docs.yml
Labels: documentation, CLA Signed

#608 [BugFix] Upload content of html directly
  .github/workflows/docs.yml
Labels: documentation, CLA Signed

#609 [Feature] Improve in-place ops for TensorDictParams
  tensordict/__init__.py
  tensordict/base.py
  tensordict/nn/params.py
  tensordict/persistent.py
  test/test_nn.py
  test/test_tensordict.py
Labels: documentation, enhancement, CLA Signed

#611 [BugFix, CI] Fix GPU benchmarks
  .github/workflows/benchmarks.yml
  .github/workflows/benchmarks_pr.yml
  benchmarks/common/memmap_benchmarks_test.py
  tensordict/_td.py
Labels: bug, CLA Signed, CI, Benchmarks

#610 [Feature] inplace to_module
  tensordict/_td.py
  tensordict/base.py
  tensordict/nn/params.py
  test/test_nn.py
Labels: enhancement, CLA Signed

#613 [Versioning] Bump v0.3.0
  .github/scripts/m1_script.sh
  .github/workflows/wheels.yml
  version.txt
Labels: CLA Signed, versioning

#616 [Feature] Support group specification
  tensordict/_lazy.py
  tensordict/base.py
  test/test_distributed.py
Labels: enhancement, CLA Signed

#617 [Refactor] Remove remaining MemmapTensor references
  benchmarks/common/memmap_benchmarks_test.py
  benchmarks/distributed/dataloading.py
  benchmarks/distributed/distributed_benchmark_test.py
  test/test_memmap.py
  test/test_memmap_deprec.py
  test/test_tensorclass.py
  test/test_tensordict.py
Labels: CLA Signed

#614 [Tests] Reorder and regroup tests
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/_torch_func.py
  tensordict/base.py
  tensordict/nn/params.py
  test/test_tensorclass.py
  test/test_tensordict.py
Labels: CLA Signed, Test

#619 [Performance] Faster set
  tensordict/base.py
Labels: CLA Signed, Performance

#621 [Performance] Better shared/memmap inheritance and faster exclude
  benchmarks/distributed/distributed_benchmark_test.py
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/base.py
  tensordict/nn/params.py
  tensordict/persistent.py
  tensordict/utils.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#623 [Benchmark] Benchmark select, exclude and empty
  benchmarks/common/common_ops_test.py
Labels: CLA Signed, Benchmarks

#622 [Feature] Improve the `empty` method
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/base.py
  tensordict/nn/params.py
  tensordict/persistent.py
  test/test_tensordict.py
Labels: bug, enhancement, CLA Signed, Performance

#625 [BugFix] Fix is_memmap attribute for memmap_like and memmap
  tensordict/_td.py
  test/test_tensorclass.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#624 [BugFix] Remove shared/memmap inheritance from clone / select / exclude
  tensordict/_td.py
  tensordict/base.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#627 [BugFix] Fix `index in list` error
  tensordict/utils.py
Labels: bug, CLA Signed

#628 [Refactor] Make unbind call tensor.unbind
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/base.py
  tensordict/nn/params.py
  tensordict/persistent.py
Labels: CLA Signed, Refactor

#630 [Feature] `auto_batch_size_`
  tensordict/base.py
  tensordict/utils.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#631 [BugFix] Fix NonTensorData interaction
  tensordict/_lazy.py
  tensordict/_torch_func.py
  tensordict/base.py
  tensordict/tensorclass.py
  tensordict/utils.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#632 [Doc] More doc on how to set and get non-tensor data
  tensordict/tensorclass.py
Labels: documentation, CLA Signed

#633 [Feature] _auto_make_functional and _dispatch_td_nn_modules
  tensordict/nn/common.py
  tensordict/nn/ensemble.py
  tensordict/nn/probabilistic.py
  tensordict/nn/sequence.py
  tensordict/nn/utils.py
  test/test_nn.py
Labels: enhancement, CLA Signed

#637 [BugFIx] Fix exclude indent
  tensordict/_td.py
Labels: bug, CLA Signed

#638 [BugFix] Limit number of threads in workers for .map()
  tensordict/base.py
  tensordict/utils.py
Labels: bug, CLA Signed

#634 [Feature] Robust to lazy_legacy set to false and context managers for reshape ops
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/_torch_func.py
  tensordict/base.py
  tensordict/nn/ensemble.py
  tensordict/utils.py
  test/_utils_internal.py
  test/test_functorch.py
  test/test_tensorclass.py
  test/test_tensordict.py
  tutorials/sphinx_tuto/tensordict_shapes.py
Labels: enhancement, CLA Signed

#639 [Minor] Typo in lazy legacy warnings
  tensordict/_torch_func.py
  tensordict/base.py
Labels: documentation, CLA Signed

#640 [Minor] NestedKey typing issues
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/base.py
  tensordict/nn/params.py
  tensordict/persistent.py
  tensordict/utils.py
Labels: documentation, CLA Signed

#641 [Feature] nested_keys option in named_apply
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/base.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#642 [Feature] Expose NestedKey in root
  tensordict/__init__.py
Labels: enhancement, CLA Signed

#645 [CI] Update macos image
  .github/workflows/build-wheels-m1.yml
  .github/workflows/test-macos.yml
Labels: CLA Signed, CI

#646 [Feature] chunk and unbind for memory mapped tensors
  tensordict/base.py
  tensordict/memmap.py
  tensordict/nn/params.py
  tensordict/persistent.py
  tensordict/utils.py
  test/test_tensordict.py
Labels: bug, enhancement, CLA Signed

#635 [Doc] Update readme for v0.3
  README.md
  tutorials/README.md
Labels: documentation, CLA Signed

#647 [CI] Fix macos build
  .github/workflows/build-wheels-m1.yml
Labels: CLA Signed, CI
