Repository pytorch/tensordict, pull requests merged in 2024-10, with the labels that each got.

#1014 [Quality] Better type hints for `__init__`
  tensordict/_lazy.py
  tensordict/_td.py
Labels: CLA Signed, Quality

#1017 [Feature] cat_tensors and stack_tensors
  tensordict/base.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#1018 [Feature] cat and stack_from_tensordict
  tensordict/base.py
  test/test_tensordict.py
Labels: CLA Signed

#1015 [Quality] Fewer recompiles with tensordict
  tensordict/base.py
  tensordict/nn/cudagraphs.py
Labels: CLA Signed, Quality

#1024 [Feature] `data_ptr()` method
  tensordict/base.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#1026 [BugFix] Add sync to cudagraph module
  tensordict/nn/cudagraphs.py
Labels: bug, CLA Signed

#1028 [Refactor] better AddStateIndependentNormalScale
  tensordict/nn/distributions/continuous.py
Labels: CLA Signed, Refactor

#1030 [BugFix] Make probabilistic sequential modules compatible with compile
  tensordict/nn/probabilistic.py
Labels: CLA Signed

#1033 [Feature] callables for merge_tensordicts
  tensordict/functional.py
  test/test_tensordict.py
Labels: CLA Signed

#1032 [Feature] _foreach_copy_ for update_
  tensordict/base.py
Labels: CLA Signed

#1035 [BugFix] Fix _foreach_copy_ for older versions of PT
  tensordict/base.py
Labels: CLA Signed

#1036 [BugFix] Propagate maybe_dense_stack in _stack
  tensordict/_torch_func.py
Labels: bug, CLA Signed

#1044 [Benchmark] Benchmark H2D transfer
  benchmarks/common/h2d_test.py
Labels: CLA Signed

#1042 [Refactor] Make @tensorclass work properly with pyright
  tensordict/tensorclass.py
Labels: CLA Signed, Refactor

#1045 [Feature] give a `__name__` to TDModules
  tensordict/nn/common.py
Labels: enhancement, CLA Signed

#1050 [BugFix] Fix pre 2.1 _apply compatibility
  tensordict/nn/params.py
Labels: CLA Signed

#1049 [BugFix] Remove forkingpickler
  tensordict/_reductions.py
Labels: bug, CLA Signed, versioning

#1053 [CI] Fix versioning of h2d tests
  benchmarks/common/h2d_test.py
Labels: CLA Signed

#1052 [Versioning] Versions for 0.6
  .github/scripts/version_script.bat
  .github/scripts/version_script.sh
  .github/workflows/wheels-windows.yml
  setup.py
  version.txt
Labels: CLA Signed, versioning

#1056 [BugFix] Reference cycle in TensorDict._cast_reduction
  tensordict/_td.py
Labels: bug, CLA Signed

#1059 [Refactor] Better handling of params and buffers in bytes
  tensordict/base.py
Labels: CLA Signed, Refactor

#1064 [Minor] Fix wrong fbcode manual links
  tensordict/_td.py
  tensordict/utils.py
Labels: CLA Signed
