Repository pytorch/tensordict, pull requests merged in 2024-05, with the labels that each got.

#769 [Feature] Load tensordicts on device, incl. meta
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/base.py
  tensordict/tensorclass.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#770 [BugFix] Fix device parsing in augmented funcs
  tensordict/_torch_func.py
  tensordict/nn/params.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#618 [Feature] Memory-mapped nested tensors
  tensordict/_td.py
  tensordict/base.py
  tensordict/memmap.py
  tensordict/utils.py
  test/test_memmap.py
Labels: enhancement, CLA Signed

#773 [BugFix] Ensure dtype is preserved with autocast
  tensordict/tensorclass.py
Labels: bug, CLA Signed

#777 [BugFix] Fix functorch dim mock
  tensordict/utils.py
  test/test_memmap.py
Labels: bug, CLA Signed

#775 [Feature] online edition of memory mapped tensordicts
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/base.py
  tensordict/memmap.py
  tensordict/nn/params.py
  tensordict/persistent.py
  tensordict/tensorclass.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#778 [BugFix] Fix vmap for tensorclass
  tensordict/_pytree.py
  tensordict/base.py
  tensordict/nn/params.py
  tensordict/tensorclass.py
  test/test_tensorclass.py
Labels: bug, CLA Signed

#779 [Feature] flatten and unflatten as decorators
  tensordict/_td.py
  tensordict/base.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#780 [BugFix] Read-only compatibility in MemoryMappedTensor
  tensordict/memmap.py
  test/test_memmap.py
Labels: bug, CLA Signed

#781 [BugFix] Check if the current user has write access
  tensordict/memmap.py
  test/test_memmap.py
Labels: bug, CLA Signed

#784 [BugFix] Fix pad_sequence for non tensors
  tensordict/base.py
  tensordict/functional.py
  tensordict/persistent.py
  tensordict/tensorclass.py
  tensordict/utils.py
  test/test_h5.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#786 [Feature] Arithmetic ops for tensorclass
  tensordict/tensorclass.py
  test/test_tensorclass.py
Labels: CLA Signed

#787 [Feature] TensorDict.numpy()
  tensordict/base.py
  tensordict/utils.py
  test/test_tensorclass.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#788 [Feature] to_namedtuple and from_namedtuple
  tensordict/base.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#790 [Benchmark] Benchmark tensorclass ops
  benchmarks/common/common_ops_test.py
  benchmarks/common/memmap_benchmarks_test.py
  benchmarks/common/pytree_benchmarks_test.py
  benchmarks/nn/functional_benchmarks_test.py
  benchmarks/tensorclass/test_tensorclass_speed.py
  benchmarks/tensorclass/test_torch_functions.py
Labels: CLA Signed, Benchmarks

#791 [Performance] Faster tensorclass
  tensordict/_torch_func.py
  tensordict/tensorclass.py
  test/test_tensorclass.py
  test/test_tensordict.py
Labels: CLA Signed, Performance

#792 [Feature] expand_as
  tensordict/base.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#793 [Feature] Expose stack / cat as class methods
  tensordict/base.py
Labels: enhancement, CLA Signed

#794 [Feature] `out` argument in apply
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/base.py
  tensordict/persistent.py
  tensordict/tensorclass.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#795 [BugFix] Fix lazy stack features (where and norm)
  tensordict/_lazy.py
  tensordict/_torch_func.py
  tensordict/base.py
  test/test_tensordict.py
Labels: CLA Signed

#796 [BugFix] remove inplace updates when using td as a decorator
  tensordict/base.py
Labels: CLA Signed

#798 [BugFix] Fix h5 auto batch size
  tensordict/base.py
  tensordict/persistent.py
  test/test_h5.py
Labels: bug, CLA Signed

#797 [Refactor] Better tensorclass method registration
  tensordict/_lazy.py
  tensordict/_torch_func.py
  tensordict/base.py
  tensordict/tensorclass.py
  tensordict/utils.py
  test/test_tensorclass.py
Labels: enhancement, CLA Signed

#800 [Quality] Better nested detection in numpy()
  tensordict/base.py
Labels: CLA Signed, Refactor

#799 [Feature] Best attempt to densly stack sub-tds when LazyStacked TDS are passed to maybe_dense_stack
  tensordict/_lazy.py
  tensordict/_pytree.py
  tensordict/_torch_func.py
  tensordict/base.py
  tensordict/functional.py
  tensordict/nn/functional_modules.py
  tensordict/tensorclass.py
  test/test_functorch.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#801 [BugFix] Keep stack dim name in LazyStackedTensorDict copy ops
  tensordict/_lazy.py
Labels: bug, CLA Signed
