Repository pytorch/tensordict, pull requests merged in 2024-09, with the labels that each got.

#975 [BugFix] dynamo compat refactors
  benchmarks/compile/tensordict_nn_test.py
  tensordict/__init__.py
  tensordict/_contextlib.py
  tensordict/_td.py
  tensordict/base.py
  tensordict/nn/params.py
  tensordict/nn/probabilistic.py
  tensordict/nn/utils.py
  tensordict/utils.py
  test/test_compile.py
  test/test_nn.py
  test/test_tensordict.py
Labels: CLA Signed, Refactor

#976 [Quality] Type checks
  tensordict/__init__.py
  tensordict/_lazy.py
  tensordict/_nestedkey.py
  tensordict/_nestedkey.pyi
  tensordict/_td.py
  tensordict/base.py
  tensordict/memmap.py
  tensordict/nn/common.py
  tensordict/nn/params.py
  tensordict/nn/probabilistic.py
  tensordict/nn/sequence.py
  tensordict/persistent.py
  tensordict/prototype/fx.py
  tensordict/tensorclass.py
  tensordict/utils.py
Labels: CLA Signed, Quality

#977 [BugFix] Other dynamo fixes
  tensordict/_td.py
  tensordict/_torch_func.py
  tensordict/utils.py
Labels: bug, CLA Signed

#978 [Minor] Refactor is_dynamo_compiling for older torch versions
  tensordict/_td.py
Labels: CLA Signed

#979 [BugFix] restrict usage of Buffers to non-batched, non-tracked tensors
  tensordict/nn/params.py
Labels: CLA Signed

#980 [BugFix] Another compiler fix for older pytorch
  tensordict/_contextlib.py
Labels: CLA Signed

#982 [Quality] Expose private classmethods
  docs/source/reference/tensordict.rst
  tensordict/__init__.py
  tensordict/_td.py
  tensordict/_tensordict/__init__.py
  tensordict/nn/common.py
  tensordict/tensorclass.py
  tensordict/utils.py
  test/test_compile.py
Labels: CLA Signed, Quality

#985 [Performance] Faster `__setitem__`
  tensordict/_td.py
Labels: CLA Signed, Performance

#987 [CI] Add aarch64-linux wheels
  .github/workflows/build-wheels-aarch64-linux.yml
Labels: CLA Signed, CI

#981 [Feature] Unify composite dist method signatures with other dists
  tensordict/nn/distributions/composite.py
  tensordict/nn/probabilistic.py
  test/test_nn.py
Labels: enhancement, CLA Signed, Quality

#989 [Refactor] Use IntEnum for interaction types
  tensordict/nn/probabilistic.py
Labels: CLA Signed, Refactor

#988 [BugFix] Fix td device sync when error is raised
  tensordict/_td.py
Labels: bug, CLA Signed

#986 [Feature] Cudagraphs
  benchmarks/compile/compile_td_test.py
  benchmarks/compile/tensordict_nn_test.py
  docs/source/reference/nn.rst
  tensordict/nn/__init__.py
  tensordict/nn/common.py
  tensordict/nn/cudagraphs.py
  tensordict/nn/functional_modules.py
  test/test_compile.py
  test/test_nn.py
Labels: enhancement, CLA Signed

#990 [Feature] Propagate `existsok` in memmap* methods
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/base.py
  tensordict/memmap.py
  tensordict/persistent.py
  tensordict/tensorclass.py
Labels: enhancement, CLA Signed

#995 [BugFix] Fix tree_leaves import for older versions of PT
  tensordict/nn/cudagraphs.py
Labels: CLA Signed

#996 [Test] Skip compile tests that require 2.5 for stable
  test/test_compile.py
Labels: CLA Signed

#997 [Test] Rename duplicated test
  test/test_nn.py
Labels: CLA Signed

#998 [BugFix] Remove ForkingPickler to account for change of API in torch.mp
  tensordict/memmap.py
Labels: bug, CLA Signed

#1000 [BugFix] Resilient deterministic_sample for CompositeDist
  tensordict/nn/distributions/composite.py
  tensordict/nn/probabilistic.py
Labels: bug, CLA Signed

#1006 [CI] Fix windows wheels
  .github/workflows/build-wheels-windows.yml
  .github/workflows/wheels-windows.yml
  tensordict/base.py
Labels: CLA Signed, CI

#1007 [Refactor, Tests] Move TestCudagraphs
  test/test_compile.py
  test/test_nn.py
Labels: CLA Signed

#1009 [BugFix] Fix vmap monkey patching
  tensordict/nn/functional_modules.py
Labels: bug, CLA Signed, Refactor

#1010 [BugFix] Use separate streams for cudagraph warmup
  tensordict/nn/cudagraphs.py
Labels: bug, CLA Signed

#1013 [Feature] better sync and instantiation of cudagraphs
  tensordict/base.py
  tensordict/nn/cudagraphs.py
Labels: enhancement, CLA Signed, Quality
