Repository pytorch/tensordict, pull requests merged in 2024-03, with the labels that each got.

#694 [BugFix] Allow inplace modification of non-tensor data in locked tds
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/base.py
  tensordict/persistent.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#697 [CI] Pinning mpmath
  .github/unittest/linux/scripts/install.sh
  .github/unittest/linux_torchrec/scripts/install.sh
  .github/unittest/rl_linux_optdeps/scripts/install.sh
  .github/workflows/benchmarks.yml
  .github/workflows/benchmarks_pr.yml
  .github/workflows/docs.yml
  .github/workflows/nightly_build.yml
  packaging/pkg_helpers.bash
Labels: CLA Signed, CI

#695 [Feature] mp_start_method in tensordict map
  tensordict/base.py
  tensordict/nn/params.py
  tensordict/persistent.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#696 [BugFix] Support empty tuple in lazy stack indexing
  tensordict/_lazy.py
Labels: bug, CLA Signed

#701 [CI] Remove snapshot from CI
  .github/unittest/linux/scripts/install.sh
  .github/unittest/linux_torchrec/scripts/install.sh
Labels: CLA Signed, CI

#702 [CI] Unpin mpmath
  .github/unittest/linux/scripts/install.sh
  .github/unittest/linux_torchrec/scripts/install.sh
  .github/unittest/rl_linux_optdeps/scripts/install.sh
  .github/workflows/benchmarks.yml
  .github/workflows/benchmarks_pr.yml
  .github/workflows/docs.yml
  .github/workflows/nightly_build.yml
  packaging/pkg_helpers.bash
Labels: CLA Signed, CI

#699 [Feature] Allow non-tensordata to be shared across processes + memmap
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/base.py
  tensordict/tensorclass.py
  test/test_tensordict.py
Labels: bug, enhancement, CLA Signed

#703 [Performance] Minor efficiency improvements
  tensordict/_td.py
  tensordict/base.py
Labels: CLA Signed

#704 [Benchmark] Benchmark update_
  benchmarks/common/common_ops_test.py
Labels: enhancement, CLA Signed, Benchmarks

#705 [Performance] Faster update_
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/base.py
  tensordict/tensorclass.py
  test/test_tensordict.py
Labels: CLA Signed, Performance

#709 [BugFix] Fix inheritance from non-tensor
  tensordict/base.py
  tensordict/tensorclass.py
  tensordict/utils.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#707 [BugFix, Feature] tensorclass.to_dict and from_dict
  docs/source/reference/tensorclass.rst
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/base.py
  tensordict/nn/params.py
  tensordict/persistent.py
  tensordict/tensorclass.py
  tensordict/utils.py
  test/test_tensorclass.py
  test/test_tensordict.py
Labels: bug, enhancement, CLA Signed

#710 [Feature] TensorDict logger
  tensordict/utils.py
  test/test_distributed.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#713 [BugFix] Dense stack lazy tds defaults to dense_stack_tds
  tensordict/_torch_func.py
Labels: bug, CLA Signed

#714 [BugFix] Fix dense stack usage in torch.stack
  tensordict/_torch_func.py
Labels: bug, CLA Signed

#715 [Test] Add proper tests for torch.stack with lazy stacks
  tensordict/_torch_func.py
  test/test_tensordict.py
Labels: CLA Signed, Test

#719 [BugFix] Track sub-tds in memmap
  tensordict/_td.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#720 [BugFix] Allow device overriding with None in apply
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/base.py
  tensordict/nn/params.py
Labels: CLA Signed

#721 [Feature] __contains__, clear and fromkeys
  README.md
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/base.py
  tensordict/nn/params.py
  tensordict/persistent.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#723 [Feature] tensordict.to_padded_tensor
  tensordict/base.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#712 [Doc] Fix EnsembleModule docstring
  tensordict/nn/ensemble.py
Labels: documentation, CLA Signed
