Repository pytorch/tensordict, pull requests merged in 2024-11, with the labels that each got.

#1069 [BugFix] Ensure grads and noned when needed
  tensordict/base.py
  test/test_tensordict.py
Labels: CLA Signed

#1070 [BugFix] Fix grad tests
  test/test_tensordict.py
Labels: CLA Signed

#1072 [Versioning] v0.6.1
  .github/scripts/version_script.bat
  .github/scripts/version_script.sh
  .github/workflows/wheels-windows.yml
  version.txt
Labels: CLA Signed

#1075 [BugFix] calling pad with immutable sequence
  tensordict/functional.py
Labels: bug, CLA Signed

#1076 [BugFix] Better repr of lazy stacks
  tensordict/utils.py
  test/test_tensordict.py
Labels: CLA Signed

#1077 [Quality] Better error message for incongruent lists of keys
  tensordict/_td.py
Labels: CLA Signed

#1078 [Feature] `intersection` for assert_close
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/utils.py
Labels: CLA Signed

#1081 [Doc] Better docstring for to_module
  test/test_tensorclass.py
Labels: CLA Signed

#1084 [Refactor] Make _set_dispatch_td_nn_modules compatible with compile
  tensordict/nn/utils.py
Labels: CLA Signed

#1082 [Feature] Better logs of key errors in assert_close
  tensordict/utils.py
Labels: enhancement, CLA Signed, Quality, BE

#1085 [Doc] Add doc on export with nested keys
  tutorials/sphinx_tuto/export.py
Labels: CLA Signed

#1086 [Minor] print_directory_tree returns a string
  tensordict/utils.py
Labels: CLA Signed

#1087 [Quality] Better use of StrEnum in set_interaction_type
  tensordict/nn/probabilistic.py
Labels: CLA Signed

#1089 [Versioning] 0.6.2
  .github/scripts/version_script.bat
  .github/scripts/version_script.sh
  .github/workflows/wheels-windows.yml
  version.txt
Labels: CLA Signed

#1088 [BugFix] smarter check in set_interaction_type
  tensordict/nn/probabilistic.py
  test/test_nn.py
Labels: CLA Signed

#1090 [BugFix] Fix none ref in during reduction
  tensordict/base.py
Labels: bug, CLA Signed

#1093 [BugFix] inline TDParams kwargs in prob modules
  tensordict/nn/params.py
  tensordict/nn/probabilistic.py
  test/test_compile.py
Labels: CLA Signed

#1095 [Test] fix inline TDParams kwargs for nontensordata
  tensordict/nn/probabilistic.py
  test/test_compile.py
Labels: CLA Signed

#1096 [Performance] Faster copy of TDParams
  tensordict/nn/params.py
Labels: CLA Signed, Refactor

#1103 [BugFix] select_out_keys for Prob sequential
  tensordict/nn/probabilistic.py
  tensordict/nn/sequence.py
  test/test_nn.py
Labels: CLA Signed

#1105 [Doc] Update `distributed_replay_buffer.py` reference
  docs/source/distributed.rst
Labels: documentation, CLA Signed

#1106 [Feature] from_any with UserDict
  tensordict/base.py
  test/test_tensordict.py
Labels: CLA Signed

#1110 [BugFix] Fix from_any tests
  test/test_tensordict.py
Labels: CLA Signed

#1111 [BugFix] Use 'spawn' mp context in all tests
  test/conftest.py
  test/test_tensordict.py
  tutorials/sphinx_tuto/export.py
  tutorials/sphinx_tuto/tensordict_module.py
Labels: CLA Signed

#1112 [Refactor] Make CompositeDistribution a tensordict-exclusive class
  tensordict/nn/distributions/composite.py
  test/test_nn.py
Labels: CLA Signed, Refactor

#1113 [Feature] CompositeDistribution.from_distributions
  tensordict/nn/distributions/composite.py
  test/test_nn.py
Labels: CLA Signed

#1116 [Feature,Refactor] More args in constructors, refactor free functions
  docs/source/reference/tensordict.rst
  tensordict/__init__.py
  tensordict/_td.py
  tensordict/base.py
  tensordict/persistent.py
  tensordict/tensorclass.py
Labels: CLA Signed
