Repository pytorch/tensordict, pull requests merged in 2024-08, with the labels that each got.

#938 [Feature] from_struct_array and to_struct_array
  tensordict/base.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#940 [Minor, Format] Fix fbcode lint
  tensordict/__init__.py
  tensordict/nn/common.py
  tensordict/tensorclass.py
  tensordict/utils.py
Labels: CLA Signed, Formatting

#939 [Feature] Make NonTensorData a callable
  tensordict/tensorclass.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#941 [CI, BugFix] Fix nightly build
  .github/workflows/nightly_build.yml
Labels: bug, CLA Signed, CI

#942 [BugFix] Simple syncs
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/base.py
  tensordict/tensorclass.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#944 [Doc] Refactor README and add GETTING_STARTED.md
  GETTING_STARTED.md
  README.md
  docs/tensordict.png
  setup.py
Labels: documentation, CLA Signed

#945 [Doc] Broken links in GETTING_STARTED.md
  GETTING_STARTED.md
Labels: documentation, CLA Signed

#946 [Test] Mark MP tests as slow
  .github/unittest/linux/scripts/run_test.sh
  test/test_tensordict.py
Labels: CLA Signed, Test

#947 [Test] Make h5py tests optional if no h5py installed
  test/test_tensordict.py
Labels: CLA Signed, Test

#948 [Refactor] make TD.get default to None, like dict
  tensordict/_td.py
  tensordict/base.py
  tensordict/nn/common.py
  tensordict/nn/distributions/composite.py
  tensordict/nn/functional_modules.py
  tensordict/nn/params.py
  tensordict/nn/probabilistic.py
  tensordict/persistent.py
  tensordict/tensorclass.py
  tensordict/utils.py
  test/test_tensordict.py
Labels: CLA Signed, BC-breaking

#949 [BugFix] Fix key errors catch in del_ and related
  tensordict/_td.py
  tensordict/utils.py
Labels: bug, CLA Signed

#950 [BugFix] Softly revert get changes
  .github/unittest/linux/scripts/run_test.sh
  .github/unittest/rl_linux_optdeps/scripts/run_test.sh
  .github/workflows/benchmarks.yml
  .github/workflows/benchmarks_pr.yml
  .github/workflows/docs.yml
  docs/source/reference/tensordict.rst
  tensordict/__init__.py
  tensordict/_td.py
  tensordict/base.py
  tensordict/nn/common.py
  tensordict/nn/distributions/composite.py
  tensordict/nn/functional_modules.py
  tensordict/persistent.py
  tensordict/tensorclass.py
  tensordict/utils.py
  test/_utils_internal.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#951 [Test] Keep a tight control over warnings
  tensordict/base.py
  tensordict/tensorclass.py
  test/test_nn.py
  test/test_tensorclass.py
  test/test_tensordict.py
Labels: CLA Signed, Test

#961 [Feature] Allow to specify log_prob_key in CompositeDistribution
  tensordict/nn/distributions/composite.py
Labels: enhancement, CLA Signed

#962 [Setup] Correct read_file encoding in setup
  setup.py
  tensordict/nn/functional_modules.py
Labels: CLA Signed, setup

#964 [Quality] Better error for mismatching TDs
  tensordict/utils.py
Labels: CLA Signed, Quality

#963 [BugFix] Regular swap_tensor for to_module in dynamo
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/base.py
  tensordict/nn/functional_modules.py
  tensordict/nn/params.py
  tensordict/persistent.py
  tensordict/tensorclass.py
  test/test_compile.py
Labels: bug, CLA Signed

#967 [CI] Upgrade 3.8 workflows
  .github/workflows/benchmarks.yml
  .github/workflows/benchmarks_pr.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/nightly_build.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-rl-gpu.yml
  .github/workflows/wheels-windows.yml
Labels: CLA Signed, CI
