Repository pytorch/tensordict, pull requests merged in 2025-03, with the labels that each got.

#1245 [Setup] Parametrize PyTorch version with env variable for local builds
  setup.py
Labels: CLA Signed, setup

#1246 [Test] Test dataclasses.field as tensorclass default
  tensordict/_lazy.py
  test/test_tensorclass.py
Labels: CLA Signed

#1248 [BugFix] Better check for TDModule
  tensordict/nn/common.py
Labels: CLA Signed

#1249 [BugFix] Fix tensordict.get in TDModule tensor retrieval for NonTensorData
  tensordict/nn/common.py
  test/test_nn.py
Labels: bug, CLA Signed

#1250 [Feature] from_dataclass with dest_cls arg
  tensordict/base.py
  tensordict/tensorclass.py
  test/test_tensorclass.py
Labels: enhancement, CLA Signed

#1251 [Feature] as_tensordict_module
  docs/source/reference/nn.rst
  tensordict/__init__.py
  tensordict/nn/__init__.py
  tensordict/nn/common.py
  test/test_nn.py
Labels: enhancement, CLA Signed

#1252 [BugFix] Ensure that maybe_dense_stack preserves the TC type
  tensordict/_torch_func.py
  test/test_tensorclass.py
Labels: bug, CLA Signed

#1253 [Feature] inplace arg for TensorDictSequential
  tensordict/nn/sequence.py
  tensordict/tensorclass.py
  test/test_nn.py
Labels: CLA Signed

#1255 [BugFix] Fix tensorclass update
  tensordict/nn/sequence.py
  tensordict/tensorclass.py
Labels: CLA Signed

#1260 [CI,Setup] Fix CI and bump python3.13
  .github/unittest/linux/scripts/environment.yml
  .github/unittest/linux/scripts/setup_env.sh
  .github/unittest/linux_torchrec/scripts/environment.yml
  .github/unittest/linux_torchrec/scripts/setup_env.sh
  .github/unittest/rl_linux_optdeps/scripts/environment.yml
  .github/unittest/rl_linux_optdeps/scripts/setup_env.sh
  .github/workflows/docs.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-rl-gpu.yml
  setup.py
Labels: CLA Signed, CI

#1262 [Doc] Fix typo in pad_sequence docstring example
  tensordict/functional.py
Labels: documentation, CLA Signed

#1266 [Feature] NotImplemented for abstractmethods in base.py to avoid empty calls
  tensordict/base.py
  tensordict/nn/sequence.py
Labels: CLA Signed

#1267 [BugFix] fix replacing nested keys in rename_key_
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/nn/sequence.py
  test/test_tensordict.py
Labels: CLA Signed

#1268 [BugFix] fix get for tensorclass with lazy stacks
  tensordict/nn/sequence.py
  tensordict/tensorclass.py
  test/test_tensorclass.py
Labels: bug, CLA Signed

#1269 [Setup] Fix setuptools error
  setup.py
Labels: CLA Signed, setup

#1272 [BugFix] *_like functions with dtypes
  tensordict/_torch_func.py
  test/test_tensordict.py
Labels: CLA Signed

#1273 [Feature] Deepcopy
  tensordict/base.py
  test/test_tensordict.py
Labels: CLA Signed

#1274 [BugFix] Fix rsub
  tensordict/base.py
Labels: CLA Signed

#1275 [BugFix] Fix MISSING check in tensorclass
  tensordict/tensorclass.py
  tensordict/tensorclass.pyi
Labels: bug, CLA Signed

#1278 [BugFix] Local cuda assessment
  tensordict/_td.py
  tensordict/base.py
Labels: bug, CLA Signed

#1279 [CI] python 3.13 nightly build
  .github/workflows/nightly_build.yml
Labels: CLA Signed
