Repository pytorch/tensordict, pull requests merged in 2025-08, with the labels that each got.

#1408 [BugFix] lock_() consolidated tds to avoid overriding values
  .DS_Store
  tensordict/base.py
  test/test_tensordict.py
Labels: bug, enhancement, CLA Signed, BC-breaking

#1409 [BE] A bunch of type annotation improvements
  tensordict/__init__.py
  tensordict/_lazy.py
  tensordict/_tensorcollection.pyi
  tensordict/_unbatched.py
  tensordict/base.py
  tensordict/memmap.py
  tensordict/nn/distributions/composite.py
  tensordict/nn/params.py
  tensordict/nn/probabilistic.py
  tensordict/nn/sequence.py
  tensordict/persistent.py
  tensordict/tensorclass.py
  tensordict/tensorclass.pyi
Labels: CLA Signed, BE

#1410 [Feature] to_struct_array with strings
  tensordict/base.py
  tensordict/utils.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#1415 [Bugfix] Fix `TensorDictModuleWrapper` forward
  tensordict/nn/common.py
Labels: CLA Signed

#1413 [Bugfix] Fix type annotation for tensordict.keys().__iter__() close #1412
  tensordict/_td.py
Labels: CLA Signed

#1422 [BugFix] Fix missing _maybe_broadcast_other in base.py
  tensordict/base.py
Labels: bug, CLA Signed
