Repository pytorch/tensordict, pull requests merged in 2025-04, with the labels that each got.

#1283 [BugFix] Fix .item() warning on tensors that require grad
  tensordict/utils.py
Labels: CLA Signed

#1277 [BugFix] Method _is_list_tensor_compatible missing return value
  tensordict/utils.py
Labels: bug, CLA Signed

#1289 [Test] Deactivate failing test on 2.6
  test/test_compile.py
Labels: CLA Signed

#1297 [CI] Fix upload nightlies
  .github/workflows/nightly_build.yml
Labels: CLA Signed

#1299 [CI] Fix nightly upload
  .github/workflows/nightly_build.yml
Labels: CLA Signed

#1300 [CI] Fix nightly version
  .github/workflows/nightly_build.yml
Labels: CLA Signed, CI

#1301 [Setup] Fix version import
  pyproject.toml
  tensordict/__init__.py
  tensordict/tensorclass.py
  tensordict/tensorclass.pyi
Labels: CLA Signed, setup

#1305 [Versioning] Bump v0.8.1 in main as v0.8.0 should not be used
  .github/scripts/version_script.bat
  .github/scripts/version_script.sh
  pyproject.toml
  test/smoke_test.py
  version.txt
Labels: CLA Signed
