Repository pytorch/tensordict, pull requests merged in 2025-07, with the labels that each got.

#1362 [Feature] Adds `torch.maximum` to torch func
  tensordict/_torch_func.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#1371 [BugFix] Fix update with update_batch_size when source is TD and dest is LTD
  tensordict/_lazy.py
  test/test_tensordict.py
Labels: CLA Signed

#1370 [BugFix] Add check for split_size in TensorDict.split
  tensordict/_td.py
  tensordict/utils.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#1372 [BugFix] Fix "none"/"None" env vars
  tensordict/utils.py
Labels: CLA Signed

#1373 [BugFix] JSON/orjson compatibility
  pyproject.toml
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/base.py
  tensordict/persistent.py
  tensordict/tensorclass.py
  tensordict/utils.py
Labels: bug, CLA Signed

#1381 [Feature] Ensure super() works with TensorClass
  tensordict/tensorclass.py
  test/test_tensorclass.py
  test/test_tensordict.py
Labels: bug, enhancement, CLA Signed

#1385 [Versioninig] Bump to 0.10
  .github/scripts/version_script.bat
  .github/scripts/version_script.sh
  pyproject.toml
  version.txt
Labels: CLA Signed, versioning

#1384 [Feature] Allow in-place modification of lazy stacks
  tensordict/_lazy.py
  tensordict/base.py
  tensordict/persistent.py
  tensordict/tensorclass.py
  tensordict/tensorclass.pyi
  tensordict/utils.py
  test/test_tensordict.py
Labels: bug, enhancement, CLA Signed

#1386 [Feature] implement tensor_split
  tensordict/_lazy.py
  tensordict/base.py
  tensordict/tensorclass.py
  tensordict/tensorclass.pyi
  test/test_tensorclass.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#1389 [Feature] Add __all__ everywhere
  tensordict/__init__.py
  tensordict/_tensordict/__init__.py
  tensordict/nn/__init__.py
  tensordict/nn/distributions/__init__.py
Labels: CLA Signed, CI

#1394 [BugFix] Fix MetaData assignment in tensorclasses
  tensordict/_lazy.py
  tensordict/tensorclass.py
  test/test_tensorclass.py
Labels: bug, CLA Signed

#1398 [BugFix] Fix ClassVar support in tensorclass
  tensordict/tensorclass.py
  test/test_tensorclass.py
Labels: bug, CLA Signed

#1397 [CI] Fix benchmark CI upload with conditional PR testing
  .github/workflows/benchmarks.yml
  .github/workflows/benchmarks_pr.yml
  .gitignore
Labels: CLA Signed, benchmarks/upload

#1401 [BugFix] Args for TC with ClassVar
  tensordict/tensorclass.py
  test/test_tensorclass.py
Labels: bug, CLA Signed

#1403 [BE] Add _from_tensordict to TensorClass
  tensordict/tensorclass.py
  tensordict/tensorclass.pyi
Labels: CLA Signed, BE

#1405 Fix typos in export tutorial
  tutorials/sphinx_tuto/export.py
Labels: CLA Signed
