Repository pytorch/tensordict, pull requests merged in 2025-02, with the labels that each got.

#1201 [BE] Better warning for composite_lp_aggregate value
  tensordict/nn/probabilistic.py
Labels: CLA Signed

#1203 [Doc] Add missing classes to doc
  docs/source/reference/nn.rst
Labels: CLA Signed

#1204 [Feature] Add expln map to NormalParamExtractor
  tensordict/nn/utils.py
Labels: CLA Signed

#1205 [BugFix] Better deterministic sample for composite
  tensordict/nn/distributions/composite.py
  tensordict/nn/probabilistic.py
Labels: CLA Signed

#1206 [CI] Fix failing CI runs for release
  .github/scripts/version_script.bat
  .github/workflows/wheels-windows.yml
  packaging/wheel/relocate.py
  setup.cfg
  tensordict/nn/distributions/composite.py
  test/test_compile.py
Labels: CLA Signed, CI

#1207 [CI] Fix GLIBCXX_3.4.29 error
  .github/scripts/linux-post-script.sh
  .github/workflows/build-wheels-linux.yml
  tensordict/nn/distributions/composite.py
Labels: CLA Signed, CI, ciflow/binaries/all

#1216 [Doc,BugFix] Fix default argument in doc for `AddStateIndependentNormalScale`
  tensordict/nn/distributions/continuous.py
Labels: bug, documentation, CLA Signed

#1219 [Minor] Expose is_leaf_nontensor and default_is_leaf
  docs/source/reference/tensordict.rst
  tensordict/__init__.py
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/base.py
  tensordict/nn/params.py
Labels: CLA Signed

#1220 [Feature] Allow update to increment the number of tds in a lazy stack
  tensordict/_lazy.py
  tensordict/base.py
Labels: enhancement, CLA Signed

#1224 [BugFix] Consolidate lazy stacks of non-tensors [EDIT]
  tensordict/base.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#1225 [BugFix] Pass type directly during reduction
  tensordict/_lazy.py
  tensordict/_reductions.py
  tensordict/_td.py
  tensordict/base.py
Labels: CLA Signed

#1226 [Doc] Better doc for TensorDictModuleBase
  tensordict/nn/common.py
Labels: documentation, CLA Signed

#1228 [Feature] TensorDictModule method and kwargs specification
  tensordict/nn/common.py
  test/test_nn.py
Labels: enhancement, CLA Signed

#1229 [Feature] TensorDict.tolist()
  tensordict/_lazy.py
  tensordict/base.py
  tensordict/tensorclass.py
  tensordict/tensorclass.pyi
  test/test_tensordict.py
Labels: CLA Signed

#1231 [BugFix] _PASSTHROUGH_MEMO for passthrough tensorclass
  tensordict/utils.py
Labels: CLA Signed

#1232 [BugFix] Faster and safer non-tensor stack
  tensordict/tensorclass.py
Labels: CLA Signed

#1234 [Feature] `strict` kwarg in TDModule
  tensordict/nn/common.py
  test/test_nn.py
Labels: CLA Signed

#1239 [BugFix] Fix compile during _check_keys
  tensordict/utils.py
Labels: bug, CLA Signed, suitable for minor

#1241 [BugFix] `none` value for _CAPTURE_NONTENSOR_STACK
  tensordict/utils.py
Labels: CLA Signed
