Repository pytorch/tensordict, pull requests merged in 2025-05, with the labels that each got.

#1306 [Feature] return_early for isend
  tensordict/base.py
Labels: CLA Signed

#1311 [Performance] Second attempt at caching validation
  tensordict/_td.py
  tensordict/base.py
Labels: CLA Signed, Performance

#1313 [BugFix] Fix improper name setting in `__setitem__`
  tensordict/_td.py
  tensordict/base.py
  tensordict/utils.py
  test/test_tensordict.py
Labels: CLA Signed

#1315 [BugFix] Fix CudaGraphModule on device that is not 0
  tensordict/nn/cudagraphs.py
Labels: bug, CLA Signed

#1317 [BugFix] new_* fix for Lazy stacks
  tensordict/_lazy.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#1318 [BugFix,Feature] new_* empty_lazy kwarg
  tensordict/_lazy.py
  tensordict/base.py
  tensordict/tensorclass.pyi
  test/test_tensordict.py
Labels: CLA Signed

#1319 [BugFix] Keeping names in new_* ops
  tensordict/_lazy.py
  tensordict/base.py
Labels: bug, CLA Signed

#1322 [Minor] Fix bad name in pytree warning
  tensordict/nn/cudagraphs.py
Labels: CLA Signed

#1323 [Test] fbcode patches
  test/test_nn.py
  test/test_tensorclass.py
  test/test_tensordict.py
Labels: CLA Signed

#1324 [Feature] NonTensorDataBase and MetaData
  docs/source/overview.rst
  docs/source/reference/tensorclass.rst
  tensordict/__init__.py
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/_torch_func.py
  tensordict/_unbatched.py
  tensordict/base.py
  tensordict/nn/common.py
  tensordict/nn/distributions/composite.py
  tensordict/nn/probabilistic.py
  tensordict/nn/utils.py
  tensordict/persistent.py
  tensordict/return_types.py
  tensordict/tensorclass.py
  tensordict/tensorclass.pyi
  tensordict/utils.py
  test/test_nn.py
  test/test_tensorclass.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#1328 [BugFix] return_composite defaults to True only when >1 dist
  tensordict/nn/probabilistic.py
Labels: bug, CLA Signed

#1329 [Minor] Lint
  tensordict/nn/probabilistic.py
Labels: CLA Signed, Formatting

#1326 [Quality] Simplify error handling in TensorDictSequential execution
  tensordict/nn/sequence.py
Labels: CLA Signed, Quality
