Repository pytorch/tensordict, pull requests merged in 2025-09, with the labels that each got.

#1426 [Feature] MDS dataset helper functions
  .github/unittest/linux/scripts/environment.yml
  tensordict/_datasets.py
  tensordict/_lazy.py
  tensordict/_tensorcollection.pyi
  tensordict/base.py
  tensordict/tensorclass.py
  tensordict/tensorclass.pyi
  test/test_tensorclass.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#1428 [Feature] Typed MetaData
  tensordict/tensorclass.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed, Typing

#1430 [Doc, CI] Fix Doc CI
  .github/workflows/docs.yml
  .github/workflows/nightly_build.yml
  docs/source/reference/index.rst
  docs/source/reference/tc.rst
  docs/source/reference/td.rst
Labels: CLA Signed, CI

#1436 [CI] Fix windows wheels versioning
  .github/scripts/version_script.bat
  .github/workflows/build-wheels-windows.yml
Labels: CLA Signed, CI

#1437 [Versioning] Make _get_device_module compatible with earlier torch versions
  tensordict/base.py
Labels: CLA Signed, versioning

#1439 [BugFix] Fixed the 'expect all tensor on the same device' issue in TD that occurred under CUDA or NPU scenarios.
  tensordict/_td.py
  test/_utils_internal.py
  test/test_tensordict.py
Labels: bug, CLA Signed
