Repository pytorch/tensordict, pull requests merged in 2025-01, with the labels that each got.

#1161 [BugFix] Use correct default cuda device
  tensordict/utils.py
Labels: bug, CLA Signed

#1162 [Feature] TensorDict.logsumexp
  tensordict/base.py
  tensordict/tensorclass.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#1163 [Feature] TensorDict.softmax
  tensordict/base.py
  tensordict/tensorclass.py
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#1164 [BugFix] Fix unitary ops for tensorclass
  tensordict/tensorclass.py
  test/test_tensorclass.py
Labels: bug, CLA Signed

#1172 [BugFix] Consistent behavior for pad_sequence with one and many non-tensors
  tensordict/functional.py
  test/test_tensordict.py
Labels: bug, CLA Signed

#1177 [CI] Update the download-artifacts version
  .github/workflows/wheels-windows.yml
Labels: CLA Signed

#1155 [BugFix] Better return_log_prob=True for tensordict outputs
  tensordict/nn/probabilistic.py
Labels: bug, CLA Signed

#1173 [Doc] Better doc for non-tensor data handling
  .github/workflows/wheels-windows.yml
Labels: documentation, CLA Signed

#1176 [BE] Check ordering and exclusivity of tensorclass registers
  .github/workflows/wheels-windows.yml
Labels: CLA Signed, BE

#1179 [Feature] dist_params_keys and dist_sample_keys
  tensordict/nn/probabilistic.py
  test/test_nn.py
Labels: enhancement, CLA Signed

#1180 [BugFix] Make min/max tensorclasses be interchangeable with PT equivalent
  tensordict/base.py
  tensordict/return_types.py
  test/test_tensordict.py
Labels: bug, CLA Signed, Refactor, BC-breaking

#1181 [Refactor] `composite_lp_aggregate` to handle log-probs aggregates globally
  docs/source/reference/nn.rst
  tensordict/_td.py
  tensordict/nn/__init__.py
  tensordict/nn/distributions/composite.py
  tensordict/nn/probabilistic.py
  tensordict/nn/utils.py
  test/test_compile.py
  test/test_nn.py
Labels: CLA Signed, Refactor, Deprecation

#1185 [BugFix] Proper masks for padding with custom pad value
  tensordict/functional.py
  test/test_tensordict.py
Labels: CLA Signed

#1189 [Feature] flexible return type when indexing prob sequences
  tensordict/_contextlib.py
  tensordict/nn/probabilistic.py
  test/test_nn.py
Labels: CLA Signed

#1190 [Feature] COMPOSITE_LP_AGGREGATE env variable
  tensordict/nn/utils.py
Labels: CLA Signed

#1191 Fix linux_job_v2 after https://github.com/pytorch/test-infra/pull/6104
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-rl-gpu.yml
Labels: CLA Signed

#1194 [BugFix] densify non tensor stack is a no-op
  tensordict/tensorclass.py
Labels: bug, CLA Signed

#1196 [BugFix] strong instead of weakref in compiled regions
  tensordict/base.py
  tensordict/tensorclass.py
  tensordict/tensorclass.pyi
  tensordict/utils.py
  test/test_compile.py
Labels: CLA Signed

#1198 [CI] Upgrade CUDA to 12.4
  .github/workflows/docs.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-rl-gpu.yml
Labels: CLA Signed
