Repository pytorch/tensordict, pull requests merged in 2025-10, with the labels that each got.

#1451 [Feature] key_transform for reduce ops
  tensordict/_tensorcollection.pyi
  tensordict/base.py
Labels: enhancement, CLA Signed

#1450 [Feature] Quantiles
  tensordict/_lazy.py
  tensordict/_td.py
  tensordict/_tensorcollection.pyi
  tensordict/base.py
  tensordict/tensorclass.py
  tensordict/tensorclass.pyi
  test/test_tensordict.py
Labels: enhancement, CLA Signed

#1452 [Test] Fix 3.9 failing tests
  test/test_nn.py
Labels: CLA Signed

#1453 [Doc] Fix tensorclass doc errors
  tensordict/tensorclass.py
Labels: CLA Signed

#1456 [BugFix] Make tensordict.cat preserve TensorClass
  tensordict/_td.py
  tensordict/_torch_func.py
  test/test_tensorclass.py
Labels: bug, CLA Signed

#1458 [BUGFIX] Fix some `dtype` typing
  tensordict/_tensorcollection.pyi
  tensordict/base.py
  tensordict/tensorclass.pyi
Labels: bug, CLA Signed, Typing
